{% extends '/login/signin_layout.html.twig' %}

{% block page_title %}
    Mot de passe oublié
{% endblock %}

{% block title %}
    {{ 'recover.title' }}
{% endblock %}

{% block content %}
    <form action=""  class="" id="signin_form" method="post">
        <div id="error-message">
            {% for flashbag in app.session.flashbag.get('error') %}
                <p>{{ flashbag }}</p>
            {% endfor %}
        </div>

        <p class="form-group">
            Vous avez oublié votre mot de passe ?
        </p>
        <p class="form-group">
            <label for="email" class="control-label">Entrez votre adresse email.</label>
            <div class="controls">
                <input type="email" id="email" name="email" required="required" class="form-control form-icon">
                <span class="help-inline"></span>
            </div>
        </p>
        <p class="form-group">
            <input type="submit" class="btn btn-success" value="Envoyer">
        </p>
        <p class="form-group">
        <a href="{{ url('login') }}" class="after-submit-link">
            <i class="icon-chevron-left"></i>Retour à la page d'identification</a>
        </p>
    </form>
{% endblock %}