<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block page_title %} {{ 'login.welcome_title' }} {% endblock %}</title>

    <link rel="shortcut icon" type="image/x-icon" href="{{ app.request.basepath }}/img/favicon.ico">

    {% if app.debug %}
        <link href="{{ app.request.basepath }}/less/login.less" rel="stylesheet/less" type="text/css" media="screen">
        <script type="text/javascript">
            var less = { env: "development" };
        </script>
    {% else %}
        <link href="{{ app.request.basepath }}/less/theme.css" rel="stylesheet" type="text/css" media="screen">
        <link href="{{ app.request.basepath }}/less/login.css" rel="stylesheet" type="text/css" media="screen">
    {% endif %}
</head>
<body>
<h1><i></i>Alliance {{ 'app_title' }}</h1>

{% include '_error_block.twig' %}

<div id="content">
    <h2>{% block title %}{% endblock %}</h2>

    {% if error is defined and error %}
    <div class="text-error alert alert-error">
        <i class="icon-warning-sign"></i>
        {% if error.message is defined %}
            {{ error.message }}
        {% else %}
            {{ error }}
        {% endif %}
    </div>
    {% endif %}

    {% block content %}
    {% endblock %}
</div>

<script src="{{ app.request.basepath }}/js/app/login.js" type="text/javascript"></script>
</body>
</html>