{% extends '/login/signin_layout.html.twig' %}

{% block page_title %}
    S'enregistrer
{% endblock %}

{% block title %}
    Choisissez un mot de passe
{% endblock %}

{% block content %}
    {#{% if not error.noform is defined or error.noform == fµalse %}#}
        <form action="" class="" id="signin_form" method="POST">
            <p class="form-group">
               Veuillez choisir un nouveau mot de passe
            </p>
            <p class="form-group">
                <label for="pwd" class="control-label">Mot de passe</label>
                <div class="controls">
                    <input type="password" id="pwd" name="pwd" required="required">
                    <span class="help-inline"></span>
                </div>
            </p>

            <p class="control-group">
                <label for="pwd2" class="control-label">Vérifier mot de passe</label>
                <div class="controls">
                    <input type="password" id="pwd2" name="pwd2" required="required">
                    <span class="help-inline"></span>
                </div>
            </p>
            <p class="form-group">
                <input type="submit" class="btn btn-primary" value="Enregistrer">
            </p>
            <a href="{{ url("login") }}" title="" class="after-submit-link">
                <i class="icon icon-chevron-left"></i>
                Retour à la page d'identification
            </a>
            {% if vars.key is defined %}
                <input type="hidden" name="key" value="{{ vars.key }}" />
            {% endif %}
            {% if vars.mail is defined %}
                <input type="hidden" name="mail" value="{{ vars.mail }}"/>
            {% endif %}
        </form>

    {#{% else %}#}

    {#{% endif %}#}
{% endblock %}