{% extends 'login/signin_layout.html.twig' %}
{% block page_title %}Administration - connectez-vous{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <form action="{{ path('admin_login_check') }}" method="post" id="signin_form">
        {% if(error) %}
            <p id="error-message">
                {{ error }}
            </p>
        {% endif %}
        <div id="error-message">
        {% for flashbag in app.session.flashbag.get('error') %}
            <p>{{ flashbag }}</p>
        {% endfor %}
        </div>
        <p class="form-group">
            <label for="login_username">Adresse e-mail</label>
            <input type="email" name="_username" id="login_username" required="required" class="form-control form-icon" value="{{ last_username }}" />
        </p>
        <p class="form-group">
            <label for="login_password">Mot de passe</label>
            <input type="password" name="_password" id="login_password" required="required" class="form-control form-icon" value="" />
        </p>
        <p class="form-group">
            <input type="submit" id="login_submit" value="Connexion" class="btn btn-success" />
        </p>
        <p class="" id="form_meta">
            <a href="{{ path('recover') }}">
                Mot de passe perdu ?
            </a>
        </p>
    </form>
{% endblock %}

{% block footer %}
{% endblock %}


{% block scripts %}
{% endblock %}
