<!doctype html>
<html lang="fr-BE">
<head>
    <meta charset="UTF-8">

    <title>{% block page_title %}{% endblock %}</title>

    {% if app.debug %}
        <link rel="stylesheet/less" href="{{ app.request.basepath }}/less/back.less"/>
        <script src="{{ app.request.basepath }}/js/libs/jquery-1.10.2.min.js" type="text/javascript"></script>
        <script src="{{ app.request.basepath }}/js/libs/less-1.5.0.min.js" type="text/javascript"></script>
        <script src="{{ app.request.basepath }}/js/libs/bootstrap/bootstrap.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            var less = {env: "development"};
        </script>
    {% else %}
        <link rel="stylesheet" href="{{ app.request.basepath }}/css/back.css" media="screen"/>
    {% endif %}
</head>

<body class="login">
{% block header %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
{% endblock %}
</body>
</html>