{% extends 'layout.html.twig' %}

{% block title %} {{ 'thanks.title'|trans }} {% endblock %}

{% block menu %} {% endblock %}

{% block navbar %}
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav pull-left">
                    <li>
                        <a>
                            <i class="icon-user icon-white"></i>
                            {{ user_mail() }}
                        </a>
                    </li>
                    {% if org_name() %}
                        <li>
                            <a>
                                <i class="icon-pencil icon-white"></i>
                                {{ org_name() }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="nav pull-right">
                    <li>
                        <a href="{{ path('logout') }}">
                            <i class="icon-off icon-white"></i>
                            {{ 'logout.label'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block header %} {% endblock %}

{% block page_header %}
    <div class="page-header">
    </div>{% endblock %}

{% block content %}
    <div id="alliance-hero-unit">
        <h1>{{ 'thanks.title'|trans }}</h1>
        <p class="lead">
            {{ 'thanks.text'|trans }}
        </p>
        <p>
            {{ 'thanks.contact'|trans }} <a href="mailto:{{ 'conf.email.contact'|trans }}"><strong>{{ 'conf.email.contact'|trans }}</strong></a>
        </p>
    </div>

    <div class="well">
    {% include '_data_summary.twig' with {readonly: true, modal: false} %}
    </div>
    <hr>
    {#<p class="lead">#}
        {#{{ 'thanks.text.end'|trans({'%year%': ('now'|date('Y'))+1}) }}#}
    {#</p>#}
{% endblock %}

{% block content_footer %} {% endblock %}