#content.cms_container {
    div.section {
        margin-bottom: 40px;
    }

    #default_quiz {
        width: 200px;
    }

    #tools {
        table {
            @media(min-width: @screen-sm-min) {
                width: 70%;
            }
        }
    }

    #footer {
        div.well {
            margin-bottom: 10px;
        }
    }
}