#help-modal {
	.file-list, .associated-list {
		.list-unstyled;

		li {
			padding: 5px 0;
			padding-left: 10px;
			border-left: @backBorder;
			margin-bottom: 10px;

			.item-remove {
				color: @btn-danger-bg;
			}
		}
	}
	.file-add {
		margin-top: 10px;
	}

	.associated-list {
		li {
			margin-bottom: 20px;
		}
	}
}