#quiz-choice {
	.list-unstyled;
	.make-row;

	> li {
		.make-sm-column(4);
		position: relative;
		float: left;
		display: table;
		margin-bottom: 10px;
		width: 100%;

		.make-actions();

		> a { // QUIZ BOX
			text-align: center;
			display: table-cell;
			vertical-align: middle;
			background-color: #fff;
			height: 200px;
			width: 100%;
			font-size: 16px;
			font-weight: bold;
			color: @selectionColor;
			position: relative;
			padding: 0 30px;

			.label {
				font-size: 0.6em;
				margin-left: 5px;
			}

			em {
				font-size: 80%;
				font-weight: 100;
				color: @secondaryTextColor;
				display: block;
				line-height: 1.2em;
				margin-top: 5px;
			}

			em.quiz-date {
				font-size: 70%;
				color: #CCC;
			}

			em.quiz-state {
				margin-top: 8px;

				span {
					margin-right: 5px;
				}
			}

			div.quiz-meta {
				position: absolute;
				right: 5px;
				bottom: 5px;
			}

			&:hover {
				text-decoration: none;
				background-color: darken(#fff, 1%);
			}
		}
	}

	li.add-quiz {
		a {
			border: dashed 2px @backBorderColor;

			i {
				display: block;
				margin: auto;
				width: 1em;
				margin-bottom: 10px;
				font-size: 16px;
				font-weight: 100;
				color: @secondaryTextColor;
			}
		}
	}
}

.container > footer {
	margin-top: 20px;
	border-top: solid @backBorderColor 1px;
	padding-top: 10px;
	font-size: 0.9em;
	text-align: right;

	a {
		font-weight: bold;
	}
}