body.login {
	background-color: #fff;
}

form#signin_form {
	width: 310px;
	padding: 30px;
	margin: 100px auto;
	background-color: #f2f2f2;
	border: solid 1px #d0d0d0;

	#error-message {
		text-align: center;
		font-weight: bold;
		color: @btn-danger-bg;
	}

	.form-icon {
		position: relative;

		&:before {
			.glyphicon;
			position: absolute;
			right: 0;
			width: 10px;
			height: 10px;
			background-color: #f00;
		}

		&#login_username:before {
			content: "\e008";
		}
		&#login_password:before {
			content: "\e033";
		}
	}

	#login_submit {
		width: 100%;
	}

	#form_meta {
		color: #a6b3bb;
		font-weight: bold;
		text-align: center;

		a {
			color: #a6b3bb;
		}
	}
}