html {
	body {
		background-color: @body-bg;
		padding-top: @navbar-height;

		h1 {
			margin-top: 50px;
			margin-bottom: 20px;
		}

		#menu {
			.list-unstyled;
			.clearfix();
			margin-bottom: -1px;

			li {
				float: left;

				a {
					display: block;
					.border-radius(5px, 5px, 0, 0);
					text-align: center;
					padding: 7px 15px;
					font-weight: bold;
					font-size: 14px;
					color: #6f6f6f;
					margin-right: 3px;
					border-bottom: solid 1px #c2c2c2;

					&:hover {
						background-color: #fff;
						text-decoration: none;
					}
				}

				&.active a {
					background-color: @selectionColor !important;
					color: #fff !important;
					text-decoration: none;
					border-bottom-color: @selectionColor;
				}
			}
		}

		#content {
			background-color: #fff;
			border-top: @backBorder;
			min-height: 400px;
			padding-top: 20px;
		}

		#loading-message {
			p {
				text-align: center;
				margin-top: 125px;
				margin-bottom: 150px;

				i {
					background: url('../images/ajax-loader.gif') no-repeat center top;
					width: 16px;
					height: 11px;
					display: inline-block;
					margin-right: 5px;
				}
			}
		}

		#transfer_alert {
			position: fixed;
			right: 3px;
			top: 45px;
			z-index: 1030; /* before modals */
			width: 200px;

			> .alert {
				border-radius: 0;
				margin-bottom: 2px;
				padding-left: 10px;
				padding-top: 10px;
				padding-bottom: 10px;

				&.alert-danger {
					background-color: rgb(247, 148, 103);
					border-color: #CF734A;
					color: #9B2805;
				}

				&.alert-loading {
					background: #FFFF74;
					border: solid 1px #E6E65E;
					color: #757A46;
					font-style: italic;

					.alert-message {
						background: url('../images/spinner.gif') no-repeat center left;
						padding-left: 20px;
					}
				}

				&.alert-warning {
					background-color: #FCCD38;
					border-color: #D8AF2E;
					color: #8F7525;
				}

				&.alert-success {
					background-color: #75F0A6;
					border-color: #66C78D;
					color: #437E5B;
				}
			}
		}
	}
}
body.nojs .container {
		display: none !important;
}