textarea {
	width: 540px !important;
	height: 25em !important;
}

#quiz-form {
	> section {
		margin-bottom: 40px;
	}

	.level {
		position: relative;
		a.level-anchor {
			position: absolute;
			top: -40px;
		}
	}

	.level-breadcrumb {
		margin-bottom: -18px;
		color: #858585;
		font-style: italic;
	}

	.branch {
		padding: 0 15px;
		border-left: @backBorder;

		.branch-meta {
			margin: 10px 0;
			.make-row();

			> section {
				.make-sm-column(6);
			}

			.btn {
				width: 100%;

				@media(min-width: @screen-tablet) {
					width: auto;
				}
			}
		}

		ul.nodes {
			li.node {
				.make-actions();

				a {
					&:hover {
						text-decoration: none;
					}
				}

				&.active {
					a {
						background-color: @activeColor;
						color: #fff;
						position: relative;
					}

					> a:after {
						@media (min-width: @screen-tablet) {
							.glyphicon;
							content: "\e114"; // glyphicon-chevron-down
							height: 15px;
							color: #fff;
							font-size: 16px;
							display: block;
							margin-top: 10px;
						}
					}
				}
			}

			li.node-add, li.help-add {
				a {
					background-color: #fff;
					color: @textColor;
					border: dashed 2px @backBorderColor;
					font-weight: bold;
					width: 100%;

					i {
						width: 100%;
						font-size: 16px;
						margin-bottom: 10px;
					}

					&:hover {
						background-color: #f6f6f6;
					}
				}
			}

			li.sortable-placeholder {
				display: table;
				height: @nodeHeight;
			}
		}
	}

	section.popup-form {
		text-align: center;
		width: 70%;
		font-size: 90%;
		margin: auto;
	}

	.help-list {
		.list-unstyled();
		margin-left: 10px;

		> li {
			margin-right: 20px;
			position: relative;
			margin-left: 30px;

			h4 {
				font-weight: bold;

				a {
					font-weight: normal;
					margin-left: 10px;
					font-size: 87%;
					color: @selectionColor;
				}
			}

			.help-content {
				border-left: dotted 1px #a0a0a0;
				margin-left: 5px;
				padding-left: 10px;
				margin-top: 20px;
				margin-bottom: 20px;
			}

			.help-remove {
				position: absolute;
				top: 10px;
				right: 10px;

				a {
					color: @brand-danger;
					font-weight: bold;
					font-size: 120%;
				}
			}

			.help-related {
				ul {
					.list-unstyled();
					margin-bottom: 15px;
					margin-left: 10px;

					li {
						margin: 5px 0;
					}

					li.related-add {
						margin-left: -10px;
					}

					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			.help-handle {
				position: absolute;
				left: -25px;
				top: 50%;
				bottom: 50%;

				a {
					.make-handle-icon(@secondaryTextColor);
				}
			}

			&.sortable-placeholder {
				margin-bottom: 20px;
			}
		}

		.sortable-placeholder {
			margin-right: 20px;
		}
	}

	.related {
		margin-left: 15px;
		ul {
			.list-unstyled();

			li {
				margin: 5px 0;
				margin-left: 10px;
			}

			li.related-add {
				margin-left: -10px;
			}
		}
	}

	.related, .help-related {
		.sortable li[draggable] {
			cursor: move;
		}
	}

	.help-duplicate-warning {
		margin-top: 20px;

		ul li {
			span {
				&.help-breadcrumb {
					font-size: .9em;
				}

				&.help-name {
					font-weight: bold;
				}
			}
		}
	}


	/* Use .sortable-dragging and .sortable-placeholder selectors to change the styles of a dragging item and its placeholder respectively. */

	.sortable {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.sortable-dragging {
	}

	.sortable-placeholder
	{
		color: @textColor;
		border: dashed 1px @backBorderColor;
		font-weight: bold;
		position: relative;
		display: block;
	}


	p#actions {
		.list-unstyled;
		.clearfix();
		margin-top: 50px;
		margin-bottom: 50px;
		text-align: center;

		input {
			width: 100%;
			margin-bottom: 5px;

			@media (min-width: @screen-tablet) {
				margin-right: 5px;
				width: 150px;
			}
		}
	}
}


// select2 styles for help search
.select2-result {
	span.help-list-breadcrumb {
		display: block;
		font-size: .9em;
		font-style: italic;
		opacity: 0.7;
	}
	span.help-list-name {
		font-weight: bold;
	}
}


#preview-modal {
	.modal-dialog {
		width: 660px;

		.modal-header {
          min-height: 40px;
          border-bottom: none;
		}

		.modal-body {
			padding-top: 0 !important;
		}
	}
}