.input-icon {
	position: relative;

	.glyphicon {
		position: absolute;
		padding: 8px 10px;
		pointer-events: none;
	}
	input {
		position: absolute;
		padding-left: 30px;
	}
}

#datepicker-container {
	width: 30%;
	margin: 20px 0 40px 0;

	.input-icon {
		height: 30px;
	}
}

#stats_loader {
	text-align: center;
	margin-top: 40px;
	font-style: italic;
	color: #999;

	.loading-icon {
		background: url(../images/ajax-loader.gif);
		display: block;
		width: 16px;
		margin: auto;
		height: 11px;
		margin-bottom: 10px;
	}
}

#stats_container {
	h2 {
		text-align: center;
		border-bottom: solid #eee 1px;
		padding-bottom: 15px;
		margin-bottom: 50px;

		span {
			font-style: italic;
		}
	}

	#iframe_container {
		width: 600px;
		margin: 0 auto;
	}
}