ul#breadcrumb {
	.list-unstyled;
	.clearfix();
	margin-bottom: 5px;
	border-bottom: @frontBorder;

	li.home {
		float: left;
		position: relative;
		width: 50px;

		a {
			line-height: @breadcrumbWidth + 16px;
			padding-top: 12px;
			padding-left: 10px;
			display: block;
			width: 100%;
			color: @textColor;
		}
	}

	li {
		i.chevron {
			.glyphicon;
			position: absolute;
			z-index: 8999;
			.glyphicon-chevron-right;
			right: 4px;
			top: 50%;
		}

		&.branch {
		height: @breadcrumbWidth + 28px;
		position: relative;
		width: @breadcrumbWidth + 20px;
		float: left;

		h2 {
			font-size: 12px;
			margin-top: 0;
			position: absolute;
		}

		ul.choices {
			.list-unstyled;
			width: @breadcrumbWidth;
			position: absolute;
			z-index: 9000;
			top: 1.5em;
			background-color: #fff;

			li {
				margin-bottom: 2px;
				display: table;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 9100;
				height: @breadcrumbWidth;
//				.rotate(-5deg);

				a {
					display: table-cell;
					vertical-align: middle;
					background-color: @choiceColor;
					color: @textColor;
					text-align: center;
					width: @breadcrumbWidth;
					max-width: @breadcrumbWidth;
					overflow: hidden;
					height: @breadcrumbWidth;
					padding: 5px;
					border: solid 1px #000;
					border: solid 1px rgba(0, 0, 0, .05);

					&:hover {
						/*background-color: @activeColor;
						color: #fff;*/
					}
				}

				&.active {
					z-index: 9200;
					.rotate(0);

					a {
						background-color: @breadcrumbColor;
						color: #fff;
					}
				}
			}
		}

		&:last-child {
			li.active a {
				background-color: @breadcrumbColor;
				color: #fff;
			}

				i.chevron {
					.glyphicon-chevron-down;
					top: 98%;
					left: (@breadcrumbWidth / 2) - 12px;
					background: #fff;
					width: 22px;
					padding: 0 5px;
				}
			}
		}
	}
}