@cms_background_color: #F0E0A2;
@cms_action_color: #DB7B41;
@cms_text_color: #999592;
@cms_baseline_color: #9C8D7A;
@cms_border: #C9C1AA;



#page_header {
    background: #F6ECC1;
    #gradient.vertical(#FDFDFB; @cms_background_color);
    margin-bottom: 40px;
    padding: 19px 0 5px 0;
//    border-bottom: solid 1px @cms_border;

    #page_banner {
        text-align: center;
        position: relative;

        @media(min-width: @screen-sm-min) {
            text-align: left;
            float: left;
        }

        /* baseline floats when screen is big enough */
        /* use @screen-md-min if toolbar activated */
        @media(min-width: @screen-sm-min) {
            margin-top: 10px !important;

            h1 {
                float: left;
            }
            h2 {
                float: left;
                margin-top: 28px !important;
                margin-left: 10px !important;
            }
        }

        h1 {
            position: relative;
            z-index: 67;
            margin: 0;

            a {
                display: block;
                text-indent: -9000px;
                background: url("../images/logo-innovons.png") no-repeat top left;
                width: 170px;
                height: 54px;
                margin: 0 auto;

                @media(min-width: @screen-sm-min) {
                    margin: 0;
                }
            }
        }

        h2 {
            margin: 0;
            margin-top: -10px;
            font-size: 14px;
            font-weight: bold;
            color: @cms_baseline_color;
        }

        #white_circle {
            @circle_width: 600px;
            @circle_height: 100px;
            @circle_radius: @circle_width;

            position: absolute;
            background: white;
            width: @circle_width;
            height: @circle_height;
            opacity: 0.3;
            left: -40%;
            top: -(@circle_height / 2);
            z-index: 66;
            border-radius: (@circle_width / 2) e('/') (@circle_height / 2);
        }
    }

    #tools {
        position: relative;

        @media(min-width: @screen-sm-min) {
            float: right;
        }

        p {
            font-size: 10px;
            font-weight: 100;
            color: @cms_text_color;
            margin-top: 20px;
            text-align: center;
            margin-bottom: 3px;

            @media (min-width: @screen-sm-min) {
                margin-top: 10px;
                text-align: left;
            }
        }

        #tools_list {
            position: relative;
            right: 0;
            margin: auto;

            @media(min-width: @screen-sm-min) {
                top: 10px;
            }

            &, button, ul.dropdown-menu {
                width: 100%;

                @media (min-width: @screen-sm-min) {
                    width: 160px;

                    @media(min-width: @screen-lg-min) {
                        width: 250px;
                    }
                }
            }

            button {
                text-align: left;
                border-color: @cms_border;
                border-radius: 0;

                .caret {
                    position: absolute;
                    right: 11px;
                    top: 13px;
                    color: @cms_border;
                }
            }

            .dropdown-menu {
                margin-top: -1px;
                border-radius: 0;

                @media (min-width: @screen-sm-min) {
                    .pull-right;
                }

                li {
                    border-bottom: solid #eee 1px;
                    padding-bottom: 4px;

                    &:last-child {
                        border-bottom: none;
                        padding-bottom: 0;
                        margin-bottom: 0;
                    }
                }
            }

            @media (min-width: @screen-sm-min) {
                position: absolute;
                margin: 0;
            }
        }
    }
}

#page_footer {
    border-top: solid #eee 3px;
    margin-top: 70px;
    padding-top: 30px;

    #page_footer_content {
        font-size: 11px;
        color: #ababab;

        a {
            text-decoration: underline;
            color: inherit;
        }
        
        img {
            display: block;

            @media (min-width: @screen-sm-min) {
                display: inline;

                @media(min-width: @screen-md-min) {
                }
            }
        }
    }
}