#header {
	.clearfix();
//	padding-bottom: @verticalPadding;
	border-bottom: @frontBorder;
	margin-bottom: 10px;

	h1 {
		color: @activeColor;
		text-align: center;
		text-transform: uppercase;
		font-size: 28px;
		margin-top: 0;
		font-weight: 200;

		@media(min-width: @screen-desktop) {
			font-size: 30px;
		}
	}

	h2 {
		color: lighten(@activeColor, 20%);
		text-align: center;
		text-transform: uppercase;
		font-size: 20px;
		margin-top: -5px;
		font-weight: 200;
	}

	ul#menu {
		list-style: none;
		width: 100%;
		overflow: auto;

		li {
			float: right;
		}
	}

	.iframe-export-link {
		clear: both;
		font-style: italic;
		font-size: .9em;
		margin-top: -10px;
		text-align: right;
	}

	#selection-popup-link {
		display: block;
		float: left;
		line-height: 2em;
		margin: .5em;
		width: 14px;
	}
	#selection-link {
		float: left;
	}
}