#help-block {
	ul#help-list {
		.list-unstyled();

		> li {
			border-bottom: @frontBorder;
			padding: @verticalPadding 0;
			.clearfix();

			ul {
				margin-bottom: 10px;
			}

			h2 {
				font-size: 16px;
				font-weight: bold;
			}

			ul.help-meta {
				.list-unstyled();
				margin-bottom: 10px;
				margin-top: 5px;

				li {
					display: inline;
					margin-right: 10px;
					margin-bottom: 5px;
					line-height: 25px;

					a {
						white-space: nowrap;
					}
				}
			}

			&:last-child {
				border-bottom: 0;
				padding-bottom: 0;
			}
		}
	}

	#related {
		margin-top: 30px;
//		width: 200px;
//		padding: 0 15px;
//		float: right;
//		margin-left: 10px;
//		margin-bottom: 10px;
//		background-color: #f8f8f8;

		h3 {
//			font-size: 12px;
//			font-weight: bold;
//			color: #656565;
		}

		ul {
			.list-unstyled();

			li {
				padding-bottom: 8px;

				a {
					color: @selectionColor;
					font-weight: bold;

					&:hover {
						color: @selectionColorHover;
					}
				}
			}
		}
	}
}