

a:hover {
	text-decoration: none;
}

html {
	body {
		padding-bottom: 50px;
//		&.no-iframe {
//			padding-top: 20px;
//		}

		#loading-message {
			background: url('../images/ajax-loader.gif') no-repeat center top;
			text-align: center;
			font-size: 11px;
			margin-top: 30px;
			padding-top: 20px;
		}
	}
}

.modal {
	z-index: 99000 !important;
}

.container {
	ul, ol {
		margin-top: 0.5em;
		> li {
			margin-bottom: 0.5em;
		}

		&.list-unstyled {
			margin-top: 0;
			> li {
				margin-bottom: 0;
			}
		}
	}
}