div#questions {
	div.branch {
		h2 {
			font-size: 18px;
			color: @secondaryTextColor;
			font-weight: 200;
		}

		p.branch-popup-question {
			text-align: center;
			a {
				padding: 10px 0;
				color: @secondaryTextColor;
				font-style: italic;
			}
		}
	}
}