#header {
	.clearfix();

	ul#left_menu, ul#right_menu {
		.list-unstyled;

		li {
			margin-bottom: 10px;

			a, button {
				width: 100%;
			}
			@media (min-width: @screen-tablet) {
				display: inline;

				a, button {
					width: inherit;
				}
			}
		}
	}

	ul#left_menu {
		@media(min-width: @screen-tablet) {
			float: left;
		}
	}

	ul#right_menu {
		@media (min-width: @screen-tablet) {
			float: right;
			margin-left: 5px;

			#export-pdf-form {
				display: inline;
			}
		}
	}
}

#help-clear {
	text-align: right;
	margin-bottom: 0;
	margin-top: -5px;
}

#help-block.selection-help-block {
	ul#help-list {
		border-top: none;
		margin-top: 0;
		> li {
			position: relative;
			padding-left: 30px;

			ul.help-meta {
				li {
					display: block !important;
					line-height: inherit !important;
				}
			}

			div.help-actions {
				.help-remove {
					position: absolute;
					top: 23px;
					right: 0;
					font-size: 14px;

					a {
						color: @btn-danger-bg;
					}
				}
			}
			.help-handle {
				position: absolute;
				left: 0;
				top: 50%;
				bottom: 50%;

				a {
					.make-handle-icon(@secondaryTextColor);
				}
			}
		}
		li.sortable-placeholder {
			height: 150px;
			border: dotted 1px @backBorderColor;
		}
	}
}