#quiz {
	#questions {
		.branch {
			.nodes {
				.node {
					a {
						ul.node-stats {
							.list-unstyled;
							background: #EBD90C;
							color: rgba(0, 0, 0, 0.6) !important;
							width: 50%;
							margin: 0;
							padding: 0;
							position: absolute;
							bottom: 0;
							right: 2px;
							font-size: 90%;

							li {
								margin-bottom: 0;
							}
						}
					}
				}
			}
		}
	}
}