{% extends 'common/layout.html.twig' %}
{% block page_title %}
    Administration
{% endblock %}

{% block stylesheets %}
    {% if app.debug %}
        <link rel="stylesheet/less" href="{{ app.request.basepath }}/less/back.less"/>
    {% else %}
        <link rel="stylesheet" href="{{ app.request.basepath }}/css/back.css" media="screen"/>
    {% endif %}
{% endblock %}

{% block body %}
    <noscript>
        <h2>
            JavaScript est nécessaire pour utiliser cette interface d'administration.
            Merci d'utiliser un navigateur récent, configuré pour supporter JavaScript.
        </h2>
    </noscript>

    {{ parent() }}

{% endblock %}

{% block header %}
    <header>
        <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Afficher / masquer la navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url('admin_home') }}">Innovons.be</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="{% if(app.request.attributes.get('_route') == 'admin_home') %}active{% endif %}"><a href="{{ url('admin_home') }}">Accueil</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quizzes <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for quiz in quizzes %}
                                <li class="{% if(app.request.attributes.get('_route_params')) %} {% if(app.request.attributes.get('_route_params').qSlug == quiz.slug) %}active{% endif %}{% endif %}"><a href="{{ url('admin_quiz', {qSlug: quiz.slug} ) }}">Quiz {{quiz.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="{% if(app.request.attributes.get('_route') == 'admin_stats') %}active{% endif %}"><a href="{{ url('admin_stats') }}">Statistiques</a></li>
                    <li class="{% if(app.request.attributes.get('_route') == 'cms') %}active{% endif %}"><a href="{{ url('cms') }}">CMS</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="{% if(app.request.attributes.get('_route')=='admin_users') %}active{% endif %}">
                            <a href="{{ url('admin_users') }}">Gérer les utilisateurs</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ path('admin_logout') }}">
                            <i class="glyphicon glyphicon-user"></i>
                            Déconnexion
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <h1>
            {% block title %}
                Bienvenue sur la page d'administration des quiz
            {% endblock %}
        </h1>
    </header>

    <div id="transfer_alert"><!-- handled by jquery.Transfer.js --></div>
{% endblock %}

{% block content %}

{% endblock content %}

{% block modals %}
    {% include 'back/modal/help_form.html.twig' %}
    {% include 'back/modal/node_form.html.twig' %}
    {% include 'back/modal/popup_form.html.twig' %}
{% endblock %}

{% block prescripts %}
    {{ parent() }}
    <script type="text/javascript">
        App.adminQuizUrlBase = "{{ url('admin_home') }}";
        App.quizUrlBase = "{{ url('home') }}";
        App.is_admin = "{{ is_granted('ROLE_ADMIN') }}";
    </script>
{% endblock %}

{% block scripts %}
    <script src="{{ app.request.basepath }}/js/libs/jquery.Transfer.js" type="text/javascript"></script>
    <script src="{{ app.request.basepath }}/js/libs/moment.min.js" type="text/javascript"></script>
    <script src="{{ app.request.basepath }}/js/libs/validate/jquery.validate.min.js" type="text/javascript"></script>
    <script src="{{ app.request.basepath }}/js/libs/validate/additional-methods.min.js" type="text/javascript"></script>
    <script src="{{ app.request.basepath }}/js/back/all.js" type="text/javascript"></script>
{% endblock %}