{% extends 'back/_back.html.twig' %}

{% block page_title %}
    CMS
{% endblock %}

{% block title %}
    CMS
{% endblock %}

{% block templates %}
    {% verbatim %}
    <script id="tool-link-row-template" type="text/x-handlebars-template">
        <tr data-link-id="{{link.id}}">
            <td>
                {{link.title}}
            </td>
            <td>
                {{link.description}}
            </td>
            <td>
                {{link.url}}
            </td>
            <td>
                <a href="#" data-action="tool-link-update" data-toggle="modal" data-target="#tool-link-modal" data-link-id="{{link.id}}" data-link-hash="{{stringify link}}" title="Mettre à jour les informations du lien">
                    <i class="glyphicon glyphicon-edit"></i>
                    <span class="sr-only">Editer</span>
                </a>
                <a href="#" data-action="tool-link-delete" data-link-id="{{link.id}}" title="Supprimer le lien">
                    <i class="glyphicon glyphicon-remove"></i>
                    <span class="sr-only">Supprimer</span>
                </a>
            </td>
        </tr>
    </script>
    {% endverbatim %}

    {% include 'back/modal/cms_tool_link_form.html.twig' %}
    {% include 'back/modal/cms_footer_form.html.twig' %}
{% endblock %}

{% block content %}
    <div class="container cms_container" id="content">
        <div class="section" id="default_quiz_section">
            <h2>Quiz en page d'accueil</h2>

            <form action="#" id="default_quiz_form">
                <div class="form-group">
                    <label for="default_quiz">Quiz par défaut :</label>
                    <select class="form-control" name="default_quiz" id="default_quiz" data-action-url="{{ path('cms_default_quiz') }}">
                        {% for quiz in quizzes %}
                            <option value="{{ quiz.id }}" {% if quiz.id == default_quiz %} selected="selected"{% endif %}>{{ quiz.name }}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-primary">Changer</button>
                </div>
            </form>
        </div>

        <div class="section" id="tools">
            <h2>Barre d'outils</h2>

            <form action="#" id="display_tools_form">
                <div class="checkbox">
                    <label for="display_tools">
                        <input name="display_tools" id="display_tools" type="checkbox" class="single-value-form" {% if display_tools is defined and display_tools %} checked="checked" {% endif %} data-action-url="{{ path('cms_links_display') }}"/>
                        Afficher la barre d'outils
                    </label>
                </div>
            </form>

            <table id="links_table" class="table table-striped">
                <thead>
                    <tr>
                        <td>Titre du lien</td>
                        <td>Description</td>
                        <td>URL</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                {% for link in cms.links %}
                    <tr>
                        <td>
                            {{ link.title }}
                        </td>
                        <td>
                            {{ link.description }}
                        </td>
                        <td>
                            {{ link.url }}
                        </td>
                        <td>
                            <a href="#" data-action="tool-link-update" data-link-hash="{{ link|json_encode() }}" data-toggle="modal" data-target="#tool-link-modal" data-link-id="{{ link.id }}" title="Mettre à jour les informations du lien">
                                <i class="glyphicon glyphicon-edit"></i>
                                <span class="sr-only">Editer</span>
                            </a>
                            <a href="#" data-action="tool-link-delete" data-link-id="{{ link.id }}" title="Supprimer le lien">
                                <i class="glyphicon glyphicon-remove"></i>
                                <span class="sr-only">Supprimer</span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <p>
                <a href="#" data-action="tool-link-add" class="btn btn-primary" data-toggle="modal" data-target="#tool-link-modal">
                    <i class="glyphicon glyphicon-plus"></i>
                    Ajouter un lien
                </a>
            </p>
        </div>

        <div class="section" id="footer">
            <h2>Pied de page</h2>
            <form action="#" id="footer_form">
                {% if cms.footer_id is defined and cms.footer_id %}
                    <input type="hidden" name="cms_footer_id" value="{{ cms.footer_id }}" />
                {% endif %}
                <div class="checkbox">
                    <label for="display_footer_everywhere">
                        <input name="display_footer_everywhere" id="display_footer_everywhere" type="checkbox"  {% if display_footer is defined and display_footer %} checked="checked" {% endif %} class="single-value-form" data-action-url="{{ path('cms_footer_display') }}"/>
                        Afficher le pied de page partout (même intégré dans une iframe)
                    </label>
                </div>
                <p>Contenu:</p>
                <div class="well well-sm" id="cms_footer_content">
                    {{ cms.footer_text|raw }}
                </div>
                <p>
                    <a href="#" data-action="footer-update" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#footer-modal" title="Editer le bas de page"> <i class="glyphicon glyphicon-edit"></i>Editer</a>
                </p>
            </form>
        </div>
    </div>
{% endblock %}

{% block modals %}
    <div class="modal fade" id="tool-link-modal" aria-hidden="true">{#Updated with Handlebars in JS#}</div>
    <div class="modal fade" id="footer-modal" aria-hidden="true">{#Updated with Handlebars in JS#}</div>
{% endblock %}

{% block prescripts %}
    {{ parent() }}
    <script type="text/javascript">
        App.urls = {
          link_add: '{{ path('cms_link_add') }}',
          link_update: '{{ path('cms_link_update') }}',
          link_delete: '{{ path('cms_link_delete') }}',
          cms_default_quiz: '{{ path('cms_default_quiz') }}',
          cms_links_display: '{{ path('cms_links_display') }}',
          cms_footer_display: '{{ path('cms_footer_display') }}',
          cms_footer_update: '{{ path('cms_footer_update') }}',
          cms_image_upload: '{{ path('cms_image_upload') }}'
        };
    </script>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ app.request.basepath }}/js/libs/ckeditor/ckeditor.js" type="text/javascript"></script>
    {#<script src="{{ app.request.basepath }}/js/libs/ckeditor/config.js" type="text/javascript"></script>#}
    {#<script src="{{ app.request.basepath }}/js/libs/ckeditor/plugins/filebrowser/plugin.js" type="text/javascript"></script>#}
    <script src="{{ app.request.basepath }}/js/libs/ckeditor/adapters/jquery.js"></script>
    <script src="{{ app.request.basepath }}/js/back/cms.js" type="text/javascript"></script>
{% endblock %}