{% extends 'back/_back.html.twig' %}

{% block templates %}
    {% verbatim %}
    <script id="quiz-template" type="text/x-handlebars-template">
    {{#each quizzes}}
        <li class="choose-quiz">
            <a href="{{quizAdminUrl slug}}">
                {{name}}
                <em class="quiz-description">{{description}}</em>
                <em class="quiz-date">
                    Créé le {{formatDate date=created}}
                    {{#if updated}} <br> Màj le {{formatDate date=updated}} {{/if}}
                </em>
                <em class="quiz-state">
                    {{#equal locked "1"}}
                        <span class="quiz-state-locked label label-danger">
                            <i class="glyphicon glyphicon-lock"></i>
                            Bloqué
                            {{#if current_editor}}
                                par {{ current_editor.firstname }} {{ current_editor.firstname }}
                            {{/if}}
                        </span>
                    {{/equal}}
                </em>
                <div class="quiz-meta">
                    {{#if _revision}}
                        v. {{_revision}}
                    {{/if}}
                    {{#equal published "1" }}
                        <span class="quiz-state-published label label-success">
                        <i class="glyphicon glyphicon-ok"></i>
                        Public
                    </span>
                    {{/equal}}
                    {{#equal published "0"}}
                        <span class="quiz-state-draft label label-warning">
                        <i class="glyphicon glyphicon-pencil"></i>
                        Brouillon
                    </span>
                    {{/equal}}
                </div>
            </a>
            <ul class="node-actions">
                {{#is_admin}}
                    <li>
                        <a href="#" class="node-delete async" id="node-delete-{{id}}" title="Supprimer ce quiz">
                            <span>Supprimer</span>
                        </a>
                    </li>
                {{/is_admin}}
                <li>
                    <a href="#" class="node-edit" data-toggle="modal" data-target="#quiz-edit-modal-{{id}}" title="Editer les métadonnées de ce quiz">
                        <span>Editer</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="node-duplicate async" id="node-duplicate-{{id}}" target="_blank" title="Dupliquer ce quiz">
                        <span>Dupliquer</span>
                    </a>
                </li>
                <li>
                    <a href="{{quizUrl slug}}" class="node-see" target="_blank" title="Voir ce quiz">
                        <span>Voir</span>
                    </a>
                </li>
            </ul>
        </li>

        <div class="modal fade" id="quiz-edit-modal-{{id}}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title" id="myModalLabel">
                            Modifier un quiz</h3>
                    </div>
                    <form action="" id="quiz-edit-{{id}}">
                        <div class="modal-body">
                            <p class="form-group">
                                <label for="quiz-name-{{id}}" class="control-label">Nom</label>
                                <input type="text" class="form-control" id="quiz-name-{{id}}" name="name" value="{{name}}" data-id="quiz-edit-{{id}}" required>
                            </p>
                            <p class="form-group">
                                <label for="quiz_description-{{id}}" class="control-label">Description</label>
                                <input type="text" class="form-control" id="description-{{id}}" name="description" value="{{description}}" data-id="quiz-edit-{{id}}">
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            <button type="submit" class="btn btn-success async" id="quiz-edit-{{id}}">Enregistrer</button>
                            <input type="hidden" name="id" value="{{id}}" />
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    {{/each}}
    </script>
    {% endverbatim %}
{% endblock %}

{% block content %}
    <div id="loading-message" class="hidden">
        <p>
            <i class="loading-icon"></i>
            <span class="sr-only">
                Chargement de l'interface
            </span>
        </p>
    </div>

    <ul id="quiz-choice" class="hidden">
        <li class="add-quiz">
            <a href="#" data-toggle="modal" data-target="#quiz-create-modal">
                <i class="glyphicon glyphicon-plus"></i>
                Créer un nouveau quiz
            </a>
        </li>
    </ul>

    <div class="modal fade" id="quiz-create-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="myModalLabel">
                    Ajouter un quiz</h3>
                </div>
                <form action="#" id="quiz-create">
                    <div class="modal-body">
                        <p class="form-group">
                            <label for="name" class="control-label">Nom</label>
                            <input type="text" class="form-control" id="name" name="name" value="" data-id="quiz-create" required />
                        </p>
                        <p class="form-group">
                            <label for="description" class="control-label">Description</label>
                            <input type="text" class="form-control" id="description" name="description" value="" data-id="quiz-create">
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-success async" id="quiz-create">Enregistrer</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

{% endblock %}

{% block footer %}
    <p>
        Créé par <a href="http://www.paperpixel.net" target="_blank">Paperpixel</a>.
        Un problème ? <a href="mailto:hello@paperpixel.net">Contactez-nous</a>.
    </p>
{% endblock %}

{% block prescripts %}
    {{ parent() }}
    <script type="text/javascript">
        App.adminUrl = "{{ url('admin_home') }}";
        App.is_admin = "{{ is_granted('ROLE_ADMIN') }}";
    </script>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ app.request.basepath }}/js/back/index.js" type="text/javascript"></script>
{% endblock %}