{% extends 'back/_back.html.twig' %}

{% block title %}
Administration du quiz <em>{{quiz.name}}</em>
{% endblock %}


{% block content %}
    <ul id="menu">
        <li class="{% if(app.request.attributes.get('_route') == 'admin_quiz') %}active{% endif %}">
            <a href="{{ url('admin_quiz', {qSlug: quiz.slug} ) }}">Navigation</a>
        </li>
        <li class="{% if(app.request.attributes.get('_route')=='admin_quiz_export') %}active{% endif %}">
            <a href="{{ url('admin_quiz_export', {qSlug: quiz.slug}) }}">Export iFrame</a>
        </li>
        <li class="{% if(app.request.attributes.get('_route') == 'admin_quiz_stats') %}active{% endif %}">
            <a href="{{ url('admin_quiz_stats', {qSlug: quiz.slug} ) }}">Statistiques</a>
        </li>
        <li class="{% if(app.request.attributes.get('_route')=='admin_quiz_revision') %}active{% endif %}">
            <a href="{{ url('admin_quiz_revision', {qSlug: quiz.slug})}}">Versions précédentes</a>
        </li>
    </ul>

    <div class="container" id="content">
        {% block quiz_content %}

        {% endblock %}
    </div>
{% endblock %}

{% block prescripts %}
    {{ parent() }}
    <script type="text/javascript">
        App.quizId = "{{quiz.id}}";
        App.quizName = "{{quiz.name}}";
        App.quizSlug = "{{ quiz.slug }}";
        App.quizUrl = "{{ url('front_quiz', {quizSlug: quiz.slug}) }}";
        App.quizUrlNoStats = "{{ url('front_quiz', {quizSlug: quiz.slug, notracking: 'true'}) }}";
        App.quizUrlPreview = "{{ url('front_quiz', {quizSlug: quiz.slug, preview:'true', is_iframe: "true"})|raw }}";
    </script>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ app.request.basepath }}/js/libs/select2/select2.min.js" type="text/javascript"></script>
    <script src="{{ app.request.basepath }}/js/libs/jquery.sortable.min.js" type="text/javascript"></script>
    <script src="{{ app.request.basepath }}/js/libs/jquery.scrollTo-1.4.3.1-min.js" type="text/javascript"></script>
    <script src="{{ app.request.basepath }}/js/libs/jquery.localscroll-1.2.7-min.js" type="text/javascript"></script>
    <script src="{{ app.request.basepath }}/js/libs/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="{{ app.request.basepath }}/js/libs/ckeditor/config.js" type="text/javascript"></script>
    <script src="{{ app.request.basepath }}/js/libs/ckeditor/adapters/jquery.js"></script>
    <script src="{{ app.request.basepath }}/js/back/jquery.ajaxfileupload.hacked1.js"></script>
    <script src="{{ app.request.basepath }}/js/back/backend.js" type="text/javascript"></script>
    <script src="{{ app.request.basepath }}/js/back/quizParser.extend.js" type="text/javascript"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ app.request.basepath }}/js/libs/select2/select2.css"/>
    <link rel="stylesheet" href="{{ app.request.basepath }}/js/libs/select2/select2-bootstrap.css"/>
{% endblock %}