{% extends 'back/quiz.html.twig' %}

{% block quiz_content %}
    {% if quiz.published %}
    <div id="datepicker-container" class="">
        <label for="datepicker">Choisissez une période :</label>
        <div class="input-icon">
            <input class="form-control" type="text" name="datepicker" id="datepicker"/>
            <i class="glyphicon glyphicon-calendar"></i>
        </div>
    </div>

    <hr />

    <div id="stats_loader" class="hidden">
        <p>
            <i class="loading-icon"></i>
            <span>Chargement des statistiques...</span>
        </p>
    </div>

    <div id="stats_container" class="hidden">
        <h2>Statistiques du <span class="start-date">{#Handled in JS#}</span> au <span class="end-date">{#Handled in JS#}</span></h2>
        <div id="iframe_container" class="">

        </div>
    </div>
    {% else %}
        <p>
            Veuillez publier ce quiz pour voir les statistiques.
        </p>
    {% endif %}
{% endblock %}

{% block prescripts %}
    {{ parent() }}
    <script type="text/javascript">
        App.urls = {
            get_stats_from_piwik: '{{ path('from_piwik', {qSlug: quiz.slug}) }}'
        };
    </script>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ app.request.basepath }}/js/libs/datepicker/daterangepicker-bs3.css"/>
    <script src="{{ app.request.basepath }}/js/libs/moment.min.js" type="text/javascript"></script>
    <script src="{{ app.request.basepath }}/js/libs/datepicker/daterangepicker.js" type="text/javascript"></script>
    <script src="{{ app.request.basepath }}/js/back/stats.js" type="text/javascript"></script>
{% endblock %}