{% extends 'back/quiz.html.twig' %}
{%
set colorsArray = {
'node': 'Fond des noeuds (affiché dans le quiz et dans la navigation)',
'nodeHover': 'Fond des noeuds au survol (uniquement dans le quiz)',
'nodeSelected': 'Fond des noeuds sélectionnés (uniquement dans la navigation)',
'action': 'Couleur des boutons',
'actionSelected': 'Couleur des boutons sélectionnés'
}
%}
{% block quiz_content %}
    <section id="quiz-export">
        <h2>Exporter le quiz <em>{{ quiz.name }}</em></h2>

        <form action="#" class="form-horizontal" id="iframe-colors-form">
            {% for key, color in colorsArray %}
                <div class="form-group">
                    <label for="color-{{ key }}" class="col-sm-2 control-label">{{ key }}</label>
                    <div class="col-sm-2">
                        <input class="color form-control" id="color-{{ key }}" name="{{ key }}" value="{% if colors is defined and attribute(colors, key) is defined %}{{ attribute(colors, key) }}{% endif %}">
                    </div>
                    <p class="help-block col-sm-8">
                        {{ color }}
                    </p>
                </div>
            {% endfor %}
        </form>

        <h4>Export</h4>
        <pre id="export-box" class="export-box">{#Handled in JS#}</pre>
        <p>
            Copiez ce code et collez-le dans votre site web.
        </p>

        <p>
            <button class="btn btn-lg btn-success" id="previs">Prévisualiser</button>
        </p>

        <hr/>

        <div class="iframe-container">
            <p>
                <em>Cliquez sur prévisualiser</em>
            </p>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ app.request.basepath }}/js/libs/jscolor/jscolor.js" type="text/javascript"></script>
    <script src="{{ app.request.basepath }}/js/back/iframeExport.js" type="text/javascript"></script>
{% endblock %}