{% extends 'back/quiz.html.twig' %}

{% block quiz_content %}
    <section id="quiz-revisions">
        <h2>Les dernières versions de ce quiz</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Revision</th>
                    <th>Date</th>
                    <th>Utilisateur</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for rev in revisions %}
            <tr {% if rev.prod is defined and rev.prod %}class="rev-current"{% endif %}>
                <td>
                    {{rev.revision}}
                </td>
                <td>
                    {{rev.timestamp | date()}}
                </td>
                <td>
                    {{rev.user_firstname}} {{rev.user_name}} (<a href="mailto:{{rev.user_email}}" title="Envoyer un e-mail">{{rev.user_email}}</a>)
                </td>
                <td class="revision-actions">
                    <a href="" id="tree-view-action" data-quiz-id="{{rev.quiz_id}}" data-rev-id="{{rev.id}}" data-quiz-slug="{{quiz.slug}}" class="btn btn-primary btn-sm rev-preview-action" data-toggle="modal" data-target="#tree-view-modal">
                        <i class="glyphicon glyphicon-search"></i>
                        Visionner
                    </a>
                    <a href="" class="btn btn-danger btn-sm rev-restore-action" data-rev-id="{{rev.id}}" data-quiz-slug="{{quiz.slug}}" data-confirm="Êtes-vous sûr de vouloir restaurer cette version ?">
                        <i class="glyphicon glyphicon-circle-arrow-down"></i>
                        Restaurer
                    </a>
                    <a href="" id="" class="btn btn-sm btn-inverse rev-delete-action" data-rev-id="{{rev.id}}" data-quiz-slug="{{quiz.slug}}" data-confirm="Êtes vous sûr de vouloir supprimer cette révision ?">
                        <i class="glyphicon glyphicon-remove-circle"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </section>

    <div class="modal" id="tree-view-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    Cliquez sur les points pour ouvrir/fermer les niveaux
                    <div id="tree-view-help-contents" class="">

                    </div>
                </div>
                <div class="modal-body" id="tree-view-container">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ app.request.basepath }}/js/libs/d3.v3.min.js" type="text/javascript"></script>
    <script src="{{ app.request.basepath }}/js/back/treeView.js" type="text/javascript"></script>
    <script src="{{ app.request.basepath }}/js/back/revisions.js" type="text/javascript"></script>
{% endblock %}