{% extends 'back/quiz.html.twig' %}

{% block templates %}
    {% verbatim %}
<!-- Handlebars take it from here / client side templating -->
    <script id="client-template" type="text/x-handlebars-template">
    {{#each levels}}
        <div class="level">
        <a class="level-anchor" name="level-{{lvl breadcrumbs}}"></a>
            <section>
                {{#if breadcrumbs}}
                <p class="level-breadcrumb">
                     {{{ breadcrumbPath id }}} >
                </p>
                {{/if}}
                <h2>{{{name}}}</h2>

                <div class="branch">
                    {{#questionCheck choices breadcrumbs}}
                        <div class="branch-meta">
                            <section>
                                {{#if question.name}}
                                    <p>
                                        <strong>Question:</strong> {{{question.name}}}
                                    </p>
                                    <p>
                                        <strong>Question raccourcie:</strong>
                                        {{trim name=question.name shortname=question.shortname maxChar=15}}
                                    </p>
                                {{/if}}
                                <p>
                                    <a href="#" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#question-{{#if question.name.length }}modal-{{question.id}}{{else}}create-modal-{{id}}{{/if}}">
                                        {{#if question.name.length }}
                                            <i class="glyphicon glyphicon-edit"></i> Editer
                                        {{else}}
                                            <i class="glyphicon glyphicon-plus"></i> Ajouter une question
                                        {{/if}}
                                    </a>
                                    {{#if question.name.length }}
                                        <a href="#" class="node-delete async btn btn-sm btn-danger" id="node-delete-{{question.id}}">
                                            <i class="glyphicon glyphicon-remove"></i> Supprimer
                                        </a>
                                    {{/if}}
                                </p>
                            </section>
                        </div>
                    {{/questionCheck}}

                    {{! modals}}
                        {{! modal question}}
                        <div class="modal fade" id="question-{{#if question.name.length}}modal-{{question.id}}{{else}}create-modal-{{id}}{{/if}}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h3 class="modal-title" id="myModalLabel">
                                        {{#if question.name.length}}Modifier{{else}}Ajouter{{/if}} une question pour le niveau</h3>
                                    </div>
                                    <form action="#" id="question-{{#if question.name.length}}edit-{{question.id}}{{else}}create-{{id}}{{/if}}">
                                        <div class="modal-body">
                                            <p class="form-group">
                                                <label for="popup_question">Question</label>
                                                <input type="text" class="form-control" id="question_question" name="question_name" value="{{question.name}}" data-id="question-{{#if question.name.length}}edit-{{question.id}}{{else}}create-{{id}}{{/if}}" required>
                                            </p>
                                            <p class="form-group">
                                                <label for="popup_text">Question raccourcie ( facultatif )</label>
                                                <input type="text" maxlength="15" class="form-control" id="question_shortquestion" name="question_shortname" value="{{question.shortname}}" data-id="question-{{#if question.name.length}}edit-{{question.id}}{{else}}create-{{id}}{{/if}}">
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                            <button type="submit" class="btn btn-success async" id="question-{{#if question.name.length}}edit-{{question.id}}{{else}}create-{{id}}{{/if}}">Enregistrer</button>
                                        </div>
                                    </form>
                                </div>{{!-- /.modal-content --}}
                            </div>{{!-- /.modal-dialog --}}
                        </div>

                    {{#if choices}}
                    
                    <ul class="nodes node-quantity-{{getColumns nodeQty=choices.length is_plus_one=true treshold=4}} sortable" id="{{id}}" data-type="choice">
                        {{#each choices}}
                        <li class="node drag {{is_active id "back"}}" id="{{id}}"> {{! return "active" or "" }}
                            <a href="#level-{{lvldown ../breadcrumbs}}" class="async handle-icon" id="node-open-{{id}}" data-level="{{lvl ../breadcrumbs}}">
                                {{{name}}}
                                <br /><span style="font-style: italic; font-size: x-small;">{{{shortname}}}</span>
                            </a>
                            <ul class="node-actions">
                                <li>
                                    <a href="#" class="node-delete async" id="node-delete-{{id}}">
                                        <span>Supprimer</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="node-edit" data-toggle="modal" data-target="#node-modal-{{id}}">
                                        <span>Editer</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        {{!Modals}}
                        <div class="modal fade" id="node-modal-{{id}}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h3 class="modal-title" id="myModalLabel">Modifier un noeud</h3>
                                    </div>
                                    <form action="#" id="choice-edit-{{id}}">
                                        <div class="modal-body">
                                            <p class="form-group">
                                                <label for="node_name">Titre</label>
                                                <input name="node_name" id="node_title" class="form-control" rows="3" value="{{name}}" data-id="choice-edit-{{id}}" required />
                                            </p>
                                        
                                            <p class="form-group">
                                                <label for="node_shortname">Nom raccourci</label>
                                                <input type="text" maxlength="40" class="form-control" id="node_shortname" name="node_shortname" value="{{shortname}}" data-id="choice-edit-{{id}}" />
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                            <button type="submit" class="btn btn-success async" id="choice-edit-{{id}}">Enregistrer</button>
                                        </div>
                                    </form>
                                </div>{{!-- /.modal-content --}}
                            </div>{{!-- /.modal-dialog --}}
                        </div>

                        {{/each}}
                        <li class="node node-add undragable">
                            <a href="#" data-toggle="modal" data-target="#node-create-modal-{{id}}">
                                <i class="glyphicon glyphicon-plus"></i>
                                Ajouter un noeud
                            </a>
                        </li>
                    </ul>
                    <div class="modal fade" id="node-create-modal-{{id}}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h3 class="modal-title" id="myModalLabel">Ajouter un noeud</h3>
                                </div>
                                <form action="#" id="choice-create-{{id}}">
                                    <div class="modal-body">
                                        <p class="form-group">
                                            <label for="node_title">Titre</label>
                                            <input name="node_name" id="node_title" data-id="choice-create-{{id}}" class="form-control" rows="3" required>
                                         </p>
                                        <p class="form-group">
                                            <label for="node_shortname">Nom raccourci</label>
                                            <input type="text" maxlength="40" class="form-control" id="node_shortname" data-id="choice-create-{{id}}" name="node_shortname">
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                        <button type="submit" class="btn btn-success async" id="choice-create-{{id}}">Enregistrer</button>
                                    </div>
                                </form>
                            </div>{{!-- /.modal-content --}}
                        </div>{{!-- /.modal-dialog --}}
                    </div>

                    <section class="popup-form">
                        {{#if popup.name.length }}
                        <p class="popup-add">
                            <strong>Question:</strong> {{popup.name}}
                        </p>
                        <p class="popup-answer-text">
                            <strong>Réponse:</strong> {{strip_tags popup.text}}
                        </p>
                        {{else}}
                        {{/if}}
                        <p>
                            <a href="#" class="control-form btn btn-sm btn-primary" data-toggle="modal" data-target="#popup-{{#if popup.name.length}}modal-{{popup.id}}{{else}}create-modal-{{id}}{{/if}}">
                                {{#if popup.name.length }}
                                    <i class="glyphicon glyphicon-edit"></i> Editer
                                {{else}}
                                    <i class="glyphicon glyphicon-plus"></i> Ajouter une pop-up
                                {{/if}}
                            </a>

                            {{#if popup.name.length }}
                                <a href="#" class="node-delete async btn btn-sm btn-danger" id="node-delete-{{popup.id}}">
                                    <i class="glyphicon glyphicon-remove"></i> Supprimer
                                </a>
                            {{/if}}
                        </p>
                    </section>

                    {{! modal popup}}
                    <div class="modal fade" id="popup-{{#if popup.name.length}}modal-{{popup.id}}{{else}}create-modal-{{id}}{{/if}}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h3 class="modal-title" id="myModalLabel">
                                    {{#if popup.name.length}}Modifier{{else}}Ajouter{{/if}} un popup d&apos;explications</h3>
                                </div>
                                <form action="#" id="popup-{{#if popup.name.length}}edit-{{popup.id}}{{else}}create-{{id}}{{/if}}">
                                    <div class="modal-body">
                                        <p class="form-group">
                                            <label for="popup_question">Question</label>
                                            <input type="text" class="form-control" id="popup_question" name="popup_name" value="{{popup.name}}" data-id="popup-{{#if popup.name.length}}edit-{{popup.id}}{{else}}create-{{id}}{{/if}}" required>
                                        </p>
                                        <p class="form-group">
                                            <label for="popup_text">Texte</label>
                                            <textarea name="popup_text" id="popup-{{#if popup.name.length}}edit-{{popup.id}}{{else}}create-{{id}}{{/if}}" class="required form-control" rows="3" data-id="popup-{{#if popup.name.length}}edit-{{popup.id}}{{else}}create-{{id}}{{/if}}">{{popup.text}}</textarea>
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                        <button type="submit" class="btn btn-success async" id="popup-{{#if popup.name.length}}edit-{{popup.id}}{{else}}create-{{id}}{{/if}}">Enregistrer</button>
                                    </div>
                                </form>
                            </div>{{!-- /.modal-content --}}
                        </div>{{!-- /.modal-dialog --}}
                    </div>
                </div>
            </section>
            <hr />
        {{else}}
            {{#if helps}}
                <h3>Aides</h3>
                <ul class="sortable help-list" data-type="help" id="{{id}}">
                {{#each helps}}
                <li class="drag well well-sm" id="{{id}}">
                    <p class="help-handle sortable-handle">
                        <a href="#" title="Glissez pour déplacer cette aide" class="handle-icon">
                            <span class="sr-only">Glisser</span>
                            <span class="handle-icon-bar"></span>
                            <span class="handle-icon-bar"></span>
                            <span class="handle-icon-bar"></span>
                        </a>
                    </p>
                    <h4>
                        {{{name}}}
                        <a href="#" id="help-edit-{{id}}" data-toggle="modal" data-target="#help-modal-{{id}}">
                            <i class="glyphicon glyphicon-edit"></i> editer
                        </a>
                    </h4>
                    <div class="help-content">
                        {{{text}}}
                    </div>
                    <p class="help-remove">
                        <a href="#" id="node-delete-{{id}}" class="async">
                            <i class="glyphicon glyphicon-remove"></i>
                            <span class="sr-only">supprimer</span>
                        </a>
                    </p>
                    <div class="help-related">
                        <ul class="sortable" id="{{id}}" data-type="file">
                            {{#each files}}
                                <li id="{{id}}" class="drag">
                                    <i class="glyphicon glyphicon-file"></i> {{{name}}}
                                    <a href="{{{path}}}" target="_blank"><i class="glyphicon glyphicon-share-alt"></i></a>
                                    <a href="#" id='file-edit-{{id}}' data-toggle="modal" data-target="#file-modal-{{id}}"><i class="glyphicon glyphicon-edit"></i></a>
                                    <a href="#" class="async" id="node-delete-{{id}}"><i class="glyphicon glyphicon-remove"></i></a>
                                </li>

                                <div class="modal fade" id="file-modal-{{id}}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h3 class="modal-title" id="myModalLabel">Modifier un PDF</h3>
                                            </div>
                                            <form action="#" id="file-edit-{{id}}">
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="file-title">Titre du PDF</label>
                                                        <input type="text" class="form-control" id="file-title" name="file_name" value="{{name}}" data-id="file-edit-{{id}}" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="file-text">Fichier PDF</label>
                                                        <input type="file" class="form-control fileupload" id="file-text" name="file_text" value="" data-id="file-edit-{{id}}">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                                    <button type="submit" class="btn btn-success async" id="file-edit-{{id}}">Enregistrer</button>
                                                </div>
                                            </form>
                                        </div>{{!-- /.modal-content --}}
                                    </div>{{!-- /.modal-dialog --}}
                                </div>
                            {{else}}
                            <li class="undragable">
                                Pas de PDF liés
                            </li>
                            {{/each}}
                            <li class="related-add undragable">
                                <a href="#" id="file-add-{{id}}" data-toggle="modal" data-target="#file-create-modal-{{id}}" class="" target="_blank">
                                    <i class="glyphicon glyphicon-plus"></i> ajouter un PDF
                                </a>
                            </li>
                        </ul>
                        <ul class="sortable" id="{{id}}" data-type="url">
                            {{#each urls}}
                                <li id="{{id}}" class="drag">
                                    <i class="glyphicon glyphicon-link"></i>
                                    {{{name}}} <em>({{{urllocalName text}}})</em>
                                    <a href="{{{urllocal text}}}" target="_blank"><i class="glyphicon glyphicon-share-alt"></i></a>
                                    <a href="#" id='url-edit-{{id}}' data-toggle="modal" data-target="#{{#isNotUrllocal text}}url{{/isNotUrllocal}}{{#isUrllocal text}}urllocal{{/isUrllocal}}-modal-{{id}}"><i class="glyphicon glyphicon-edit"></i></a>
                                    <a href="#" class="async" id="node-delete-{{id}}"><i class="glyphicon glyphicon-remove"></i></a>
                                </li>

                                {{#isUrllocal text}}
                                <div class="modal fade" id="urllocal-modal-{{id}}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h3 class="modal-title" id="myModalLabel">Ajouter un lien</h3>
                                            </div>
                                            <form action="#" id="urllocal-edit-{{id}}">
                                            <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="url-title">Titre du lien</label>
                                                        <input type="text" class="form-control" id="url-title" name="url_name" value="{{name}}" data-id="urllocal-edit-{{id}}" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="url-text">Aide contenue dans le niveau cible</label>
                                                        <p id="urllocal_help_placeholder_edit_{{id}}">
                                                            <span class="loader"></span>
                                                        </p>
                                                    </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                                <button type="submit" class="btn btn-success async" id="urllocal-edit-{{id}}">Enregistrer</button>
                                            </div>
                                            </form>
                                        </div>{{!-- /.modal-content --}}
                                    </div>{{!-- /.modal-dialog --}}
                                </div>
                                {{/isUrllocal}}
                                {{#isNotUrllocal text}}
                                <div class="modal fade" id="url-modal-{{id}}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h3 class="modal-title" id="myModalLabel">Modifier un lien</h3>
                                            </div>
                                            <form action="#" id="url-edit-{{id}}">
                                            <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="url-title">Titre du lien</label>
                                                        <input type="text" class="form-control" id="url-title" name="url_name" value="{{name}}" data-id="url-edit-{{id}}" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="url-text">Adresse du lien</label>
                                                        <input type="text" class="form-control" id="url-text" name="url_text" value="{{text}}" data-id="url-edit-{{id}}" required>
                                                    </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                                <button type="submit" class="btn btn-success async" id="url-edit-{{id}}">Enregistrer</button>
                                            </div>
                                            </form>
                                        </div>{{!-- /.modal-content --}}
                                    </div>{{!-- /.modal-dialog --}}
                                </div>
                                {{/isNotUrllocal}}
                            {{else}}
                            <li class="undragable">
                                Pas de liens liés
                            </li>
                            {{/each}}
                            <li class="related-add undragable">
                                <a href="#" id="url-add-{{id}}" data-toggle="modal" data-target="#url-create-modal-{{id}}" class="" target="_blank">
                                    <i class="glyphicon glyphicon-plus"></i> ajouter un lien
                                </a>
                            </li>
                            <li class="related-add undragable">
                                <a href="#" id="urllocal-add-{{id}}" data-toggle="modal" data-target="#urllocal-create-modal-{{id}}" class="" target="_blank">
                                    <i class="glyphicon glyphicon-plus"></i> ajouter un lien interne
                                </a>
                            </li>
                        </ul>
                    </div>
                {{! MODALS}}
                <div class="modal fade" id="help-modal-{{id}}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h3 class="modal-title" id="myModalLabel">Editer une aide</h3>
                            </div>
                            <form action="#" id="help-edit-{{id}}">
                                <div class="modal-body">
                                    {{#if related}}
                                        <div class="help-duplicate-warning alert alert-warning">
                                            <p>
                                                <strong>Attention : </strong>Cette aide à été dupliquée à plusieurs endroit de ce quizz.<br />En l&apos;éditant vous impacterez toutes ces versions :
                                            </p>
                                            <ul>
                                        {{#each related}}
                                                <li>{{{breadcrumbPath this}}}</li>
                                        {{/each}}
                                        </ul>
                                        </div>
                                    {{/if}}
                                        <div class="form-group">
                                            <label for="help-title">Titre de l&apos;aide</label>
                                            <input type="text" class="form-control" id="help-title" name="help_name" value="{{{name}}}" data-id="help-edit-{{id}}" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="help_text">Texte</label>
                                            <textarea name="help_text" id="help-edit-{{id}}" class="required form-control ckeditor" rows="5" data-id="help-edit-{{id}}" required>{{{text}}}</textarea>
                                        </div>

                                        <div>    <span>Enregistrez pour pouvoir ajouter le contenu relatif.</span></div>
                                        <div id="help_meta_form_placeholder">
                                        </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                    <button type="submit" class="btn btn-success async" id="help-edit-{{id}}">Enregistrer</button>
                                </div>
                            </form>
                        </div>{{!-- /.modal-content --}}
                    </div>{{!-- /.modal-dialog --}}
                </div>
                <div class="modal fade" id="file-create-modal-{{id}}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h3 class="modal-title" id="myModalLabel">Ajouter un PDF</h3>
                            </div>
                            <form action="#" id="file-create-{{id}}">
                            <div class="modal-body">
                                    <div class="form-group">
                                        <label for="file-title">Nom du PDF</label>
                                        <input type="text" class="form-control" id="file-title" name="file_name" value="" data-id="file-create-{{id}}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="file-file">Fichier PDF</label>
                                        <input type="file" class="form-control fileupload" id="file-text" name="file_text" value="" data-id="file-create-{{id}}" required>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                <button type="submit" class="btn btn-success async" id="file-create-{{id}}">Enregistrer</button>
                            </div>
                            </form>
                        </div>{{!-- /.modal-content --}}
                    </div>{{!-- /.modal-dialog --}}
                </div>

                <div class="modal fade" id="url-create-modal-{{id}}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h3 class="modal-title" id="myModalLabel">Ajouter un lien</h3>
                            </div>
                            <form action="#" id="url-create-{{id}}">
                            <div class="modal-body">
                                    <div class="form-group">
                                        <label for="url-title">Titre du lien</label>
                                        <input type="text" class="form-control" id="url-title" name="url_name" value="" data-id="url-create-{{id}}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="url-text">Adresse du lien</label>
                                        <input type="text" class="form-control" id="url-text" name="url_text" value="" data-id="url-create-{{id}}" required>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                <button type="submit" class="btn btn-success async" id="url-create-{{id}}">Enregistrer</button>
                            </div>
                            </form>
                        </div>{{!-- /.modal-content --}}
                    </div>{{!-- /.modal-dialog --}}
                </div>

                <div class="modal fade" id="urllocal-create-modal-{{id}}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h3 class="modal-title" id="myModalLabel">Ajouter un lien</h3>
                            </div>
                            <form action="#" id="urllocal-create-{{id}}">
                            <div class="modal-body">
                                    <div class="form-group">
                                        <label for="url-title">Titre du lien</label>
                                        <input type="text" class="form-control" id="url-title" name="url_name" value="" data-id="urllocal-create-{{id}}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="url-text">Aide contenue dans le niveau cible</label>
                                        <p id="urllocal_help_placeholder_create">
                                            <span class="loader"></span>
                                        </p>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                <button type="submit" class="btn btn-success async" id="urllocal-create-{{id}}">Enregistrer</button>
                            </div>
                            </form>
                        </div>{{!-- /.modal-content --}}
                    </div>{{!-- /.modal-dialog --}}
                </div>

                </li>
                {{/each}}
                <li class="undragable">
                    <a href="#" data-toggle="modal" data-target="#help-create-modal-{{id}}" class="btn btn-success">
                        <i class="glyphicon glyphicon-plus"></i> Ajouter une aide
                    </a>
                    &nbsp;
                    <a href="#" data-toggle="modal" data-target="#help-duplicate-modal-{{id}}" class="btn btn-success">
                        <i class="glyphicon glyphicon-plus"></i> Dupliquer une aide
                    </a>
                </li>
                </ul>

                <hr />
                <div class="related">
                    <h3>Contenu relatif aux aides</h3>
                    <ul class="sortable" id="{{id}}" data-type="related">
                        {{#each related}}
                            <li class="drag" id="{{id}}">
                                <i class="glyphicon glyphicon-link"></i>
                                {{{name}}} <em>({{{urllocalName text}}})</em>
                                <a href="{{{urllocal text}}}" target="_blank"><i class="glyphicon glyphicon-share-alt"></i></a>
                                &nbsp;<a href="#" id='related-edit-{{id}}' data-toggle="modal" data-target="#related{{#isUrllocal text}}local{{/isUrllocal}}-modal-{{id}}"><i class="glyphicon glyphicon-edit"></i></a>
                                &nbsp;<a href="#" class="async" id="node-delete-{{id}}"><i class="glyphicon glyphicon-remove"></i></a>
                            </li>

                            {{#isUrllocal text}}
                            <div class="modal fade" id="relatedlocal-modal-{{id}}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h3 class="modal-title" id="myModalLabel">Ajouter un lien</h3>
                                        </div>
                                        <form action="#" id="relatedlocal-edit-{{id}}">
                                        <div class="modal-body">
                                                <div class="form-group">
                                                    <label for="url-title">Titre du lien</label>
                                                    <input type="text" class="form-control" id="url-title" name="url_name" value="{{name}}" data-id="relatedlocal-edit-{{id}}" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="url-text">Aide contenue dans le niveau cible</label>
                                                    <p id="relatedlocal_placeholder_edit_{{id}}">
                                                        <span class="loader"></span>
                                                    </p>
                                                </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                            <button type="submit" class="btn btn-success async" id="relatedlocal-edit-{{id}}">Enregistrer</button>
                                        </div>
                                        </form>
                                    </div>{{!-- /.modal-content --}}
                                </div>{{!-- /.modal-dialog --}}
                            </div>
                            {{/isUrllocal}}

                            {{#isNotUrllocal text}}
                            <div class="modal fade" id="related-modal-{{id}}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h3 class="modal-title" id="myModalLabel">Modifier un lien relatif</h3>
                                        </div>
                                        <form action="#" id="related-edit-{{id}}">
                                        <div class="modal-body">
                                                <div class="form-group">
                                                    <label for="related-title">Titre du lien</label>
                                                    <input type="text" class="form-control" id="related-title" name="related_name" value="{{name}}" data-id="related-edit-{{id}}" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="related-text">Adresse du lien</label>
                                                    <input type="text" class="form-control" id="related-text" name="related_text" value="{{text}}" data-id="related-edit-{{id}}" required>
                                                </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                            <button type="submit" class="btn btn-success async" id="related-edit-{{id}}">Enregistrer</button>
                                        </div>
                                        </form>
                                    </div>{{!-- /.modal-content --}}
                                </div>{{!-- /.modal-dialog --}}
                            </div>
                            {{/isNotUrllocal}}
                        {{else}}
                        <li>
                            Pas de contenu relatif
                        </li>
                        {{/each}}
                        <li class="undragable related-add">
                            <a href="#" data-toggle="modal" data-target="#related-create-modal-{{id}}" class="btn btn-sm btn-success">
                                <i class="glyphicon glyphicon-plus"></i> Ajouter un contenu relatif
                            </a>
                            &nbsp;
                            <a href="#" id="relatedlocal-add-{{id}}" data-toggle="modal" data-target="#relatedlocal-create-modal-{{id}}" class="btn btn-sm btn-success" target="_blank">
                                <i class="glyphicon glyphicon-plus"></i> ajouter un lien interne
                            </a>
                        </li>
                        <div class="modal fade" id="related-create-modal-{{id}}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h3 class="modal-title" id="myModalLabel">Ajouter un lien relatif</h3>
                                        </div>
                                        <form action="#" id="related-create-{{id}}">
                                        <div class="modal-body">
                                                <div class="form-group">
                                                    <label for="related-title">Titre du lien</label>
                                                    <input type="text" class="form-control" id="related-title" name="related_name" value="" data-id="related-create-{{id}}" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="related-text">Adresse du lien</label>
                                                    <input type="text" class="form-control" id="related-text" name="related_text" value="" data-id="related-create-{{id}}" required>
                                                </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                            <button type="submit" class="btn btn-success async" id="related-create-{{id}}">Enregistrer</button>
                                        </div>
                                        </form>
                                    </div>{{!-- /.modal-content --}}
                                </div>{{!-- /.modal-dialog --}}
                            </div>
                        </div>
                        <div class="modal fade" id="relatedlocal-create-modal-{{id}}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h3 class="modal-title" id="myModalLabel">Ajouter un lien</h3>
                                    </div>
                                    <form action="#" id="relatedlocal-create-{{id}}">
                                    <div class="modal-body">
                                            <div class="form-group">
                                                <label for="related-title">Titre du lien</label>
                                                <input type="text" class="form-control" id="relatedlocal-title" name="relatedlocal_name" value="" data-id="relatedlocal-create-{{id}}" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="related-text">Aide contenue dans le niveau cible</label>
                                                <p id="relatedlocal_placeholder_create">
                                                    <span class="loader"></span>
                                                </p>
                                            </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                        <button type="submit" class="btn btn-success async" id="relatedlocal-create-{{id}}">Enregistrer</button>
                                    </div>
                                    </form>
                                </div>{{!-- /.modal-content --}}
                            </div>{{!-- /.modal-dialog --}}
                        </div>

                    </ul>
                </div>
            {{else}}
                <ul class="nodes node-quantity-3">
                    <li class="node node-add">
                        <a href="#" data-toggle="modal" data-target="#node-create-modal-{{id}}">
                            <i class="glyphicon glyphicon-plus"></i>
                            Ajouter un noeud
                        </a>
                    </li>
                    {{#if breadcrumbs}}
                    <li class="node help-add">
                        <a href="#" data-toggle="modal" data-target="#help-create-modal-{{id}}">
                            <i class="glyphicon glyphicon-plus"></i>
                            Ajouter une aide
                        </a>
                    </li>
                    <li class="node help-add">
                        <a href="#" data-toggle="modal" data-target="#help-duplicate-modal-{{id}}">
                            <i class="glyphicon glyphicon-plus"></i>
                            Copier une aide existante
                        </a>
                    </li>
                    {{/if}}
                </ul>
                {{!-- MODALS --}}
                <div class="modal fade" id="node-create-modal-{{id}}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h3 class="modal-title" id="myModalLabel">Ajouter un noeud</h3>
                            </div>
                            <form action="#" id="choice-create-{{id}}">
                                <div class="modal-body">
                                    <p class="form-group">
                                        <label for="node_title">Titre</label>
                                        <input name="node_name" id="node_title" data-id="choice-create-{{id}}" class="form-control" required>
                                    </p>
                                    <p class="form-group">
                                        <label for="node_shortname">Nom raccourci</label>
                                        <input type="text" maxlength="40" class="form-control" id="node_shortname" data-id="choice-create-{{id}}" name="node_shortname">
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                    <button type="submit" class="btn btn-success async" id="choice-create-{{id}}">Enregistrer</button>
                                </div>
                            </form>
                        </div>{{!-- /.modal-content --}}
                    </div>{{!-- /.modal-dialog --}}
                </div>

                        {{/if}}

                <div class="modal fade" id="help-create-modal-{{id}}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h3 class="modal-title" id="myModalLabel">Ajouter une aide</h3>
                            </div>
                            <form action="#" id="help-create-{{id}}">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="help-title">Titre de l&apos;aide</label>
                                        <input type="text" class="form-control" id="help-title" name="help_name" value="" data-id="help-create-{{id}}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="help_text">Texte</label>
                                        <textarea name="help_text" id="help-create-{{id}}" name="help_text" class="required form-control ckeditor" rows="5" data-id="help-create-{{id}}"></textarea>
                                    </div>

                                    <div id="help_meta_form_placeholder">
                                        <span>Enregistrez pour pouvoir ajouter le contenu relatif.</span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                    <button type="submit" class="btn btn-success async" id="help-create-{{id}}">Enregistrer</button>
                                </div>
                            </form>
                        </div>{{!-- /.modal-content --}}
                    </div>{{!-- /.modal-dialog --}}
                </div>

                <div class="modal fade" id="help-duplicate-modal-{{id}}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h3 class="modal-title" id="myModalLabel">Dupliquer une aide</h3>
                            </div>
                            <form action="#" id="help-duplicate-{{id}}">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="help_id">Quelle aide voulez-vous dupliquer ?</label>
                                        <p id="help_duplicate_placeholder">
                                            <span class="loader"></span>
                                        </p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                    <button type="submit" class="btn btn-success async" id="help-duplicate-{{id}}">Enregistrer</button>
                                </div>
                            </form>
                        </div>{{!-- /.modal-content --}}
                    </div>{{!-- /.modal-dialog --}}
                </div>

                </div>
            </section>
        {{/if}}
        </div>
    {{/each}}
    </script>

    <script id="preview-template" type="text/x-handlebars-template">
        <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <iframe src="{{url}}" frameborder="0" width="600" height="800"></iframe>
                    </div>
            </div>
        </div>
    </script>

    <script id="actions-template" type="text/x-handlebars-template">
        {{#if published}}
        <button type="button" id="save" class="btn btn-lg btn-success">
            <i class="glyphicon glyphicon-floppy-save"></i>
            Enregistrer
        </button>
        <button type="button" id="unpublish" class="btn btn-lg btn-warning">
            <i class="glyphicon glyphicon-edit"></i>
            Passer en brouillon
        </button>
        {{else}}
        <button type="button" id="publish" class="btn btn-lg btn-success">
            <i class="glyphicon glyphicon-floppy-save"></i>
            Publier
        </button>
        {{/if}}
        <button type="button" id="previs" class="btn btn-lg btn-primary async" data-toggle="modal" data-target="#preview-modal">
            <i class="glyphicon glyphicon-new-window"></i>
            Prévisualiser
        </button>
    </script>

    {% endverbatim %}
{% endblock %}

{% block quiz_content %}
    <div id="loading-message" class="hidden">
        <p>
            <i class="loading-icon"></i>
            <span class="sr-only">
                Chargement de l'interface
            </span>
        </p>
    </div>
    
    <div id="quiz-form">
        <div id="quiz-form-container" class="hidden">
            <div id="client-template-placeholder" class></div>

            <p id="actions" data-quiz-published="{{ quiz.published }}">
                {#Handled in JS with #actions-template #}
            </p>
        </div>
    </div>
{% endblock %}

{% block modals %}
    <div class="modal fade" id="preview-modal" aria-hidden="true">
    </div>
{% endblock %}