{% extends 'back/_back.html.twig' %}

{% block bodyclasses %}stats{% endblock %}

{% block title %}
Statistiques générales
{% endblock %}


{% block content %}
    <div class="iframePiwik">
        <iframe src="https://tous.innovons.be/quizz/www/public_html/piwik/index.php?module=Widgetize&action=iframe&moduleToWidgetize=Dashboard&actionToWidgetize=index&idSite=1&token_auth=9be93c65c683446440edbcff5deca70f&period=week&date=yesterday" frameborder="0" marginheight="0" marginwidth="0" width="100%" height="1500"></iframe>
    </div>
    <p>
        <a href="{{ app.request.basePath }}/piwik/index.php">Accéder aux données brutes</a>

    </p>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ app.request.basepath }}/js/libs/select2/select2.css"/>
    <link rel="stylesheet" href="{{ app.request.basepath }}/js/libs/select2/select2-bootstrap.css"/>
{% endblock %}