{% extends 'back/_back.html.twig' %}

{% block page_title %}
    Gérer les utilisateurs
{% endblock %}

{% block title %}
    Gérer les utilisateurs
{% endblock %}

{% block templates %}
    {% verbatim %}
    <script id="user-template" type="text/x-handlebars-template">
        <tr data-user-id="{{user.id}}">
            <td>{{user.name}}</td>
            <td>{{user.firstname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.telephone}}</td>
            <td>
                {{#equal user.roles 'ROLE_ADMIN'}}
                Administrateur
                {{else}}
                Editeur
                {{/equal}}
            </td>
            <td>{{#if user.activated}}Activé{{else}}Pas activé{{/if}}</td>
            <td>
                <a href="#" data-action="user-update"  data-toggle="modal" data-target="#user-modal"
                   data-user-id="{{user.id}}" data-user-hash="{{stringify user}}"
                   title="Mettre à jour les informations de l'utilisateur">
                    <i class="glyphicon glyphicon-edit"></i>
                    <span class="sr-only">Editer</span>
                </a>
                <a href="#" data-action="user-send-email" title="Renvoyer l'e-mail d'activation à l'utilisateur" data-user-id="{{user.id}}">
                    <i class="glyphicon glyphicon-envelope"></i>
                    <span class="sr-only">Renvoyer l'e-mail</span>
                </a>
                <a href="#" data-action="user-delete" data-user-id="{{user.id}}" title="Supprimer l'utilisateur">
                    <i class="glyphicon glyphicon-remove"></i>
                    <span class="sr-only">Supprimer</span>
                </a>
            </td>
        </tr>
    </script>
    {% endverbatim %}

    {% include "back/modal/user_form.html.twig" %}
{% endblock %}

{% block content %}
    <div class="container" id="content">
        <p>
            <a href="#" data-action="user-add" class="btn btn-primary" data-toggle="modal" data-target="#user-modal">
                <i class="glyphicon glyphicon-plus"></i>
                Ajouter un utilisateur
            </a>
            <a href="#" id="user_my_profile_edit" data-action="user-update" data-user-id="{{ me.id }}" data-user-hash="{{ me|json_encode() }}" class="btn btn-success" data-toggle="modal" data-target="#user-modal">
                <i class="glyphicon glyphicon-edit"></i>
                Editer mon profil
            </a>
        </p>
        <table class="table table-striped" id="user_table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Adresse e-mail</th>
                <th>Numéro de téléphone</th>
                <th>Rôle</th>
                <th>Activé</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr data-user-id="{{ user.id }}">
                    <td>{{ user.name }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.telephone }}</td>
                    <td>{% if user.roles == "ROLE_ADMIN" %}Administrateur{% else %}Editeur{% endif %}</td>
                    <td>{% if user.activated %}Activé{% else %}Pas activé{% endif %}</td>
                    <td>
                        <a href="#" data-action="user-update"  data-toggle="modal" data-target="#user-modal"
                           data-user-id="{{ user.id }}" data-user-hash="{{ user|json_encode() }}"
                           title="Mettre à jour les informations de l'utilisateur">
                            <i class="glyphicon glyphicon-edit"></i>
                            <span class="sr-only">Editer</span>
                        </a>
                        <a href="#" data-action="user-send-email" title="Renvoyer l'e-mail d'activation à l'utilisateur" data-user-id="{{ user.id }}">
                            <i class="glyphicon glyphicon-envelope"></i>
                            <span class="sr-only">Renvoyer l'e-mail</span>
                        </a>
                        <a href="#" data-action="user-delete" data-user-id="{{ user.id }}" title="Supprimer l'utilisateur">
                            <i class="glyphicon glyphicon-remove"></i>
                            <span class="sr-only">Supprimer</span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
                <tr class="no-user">
                    <td colspan="7">
                        <em>Vous êtes le seul utilisateur.</em>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block modals %}
    <div class="modal fade" id="user-modal" aria-hidden="true">
        {#Handled in JS#}
    </div>
{% endblock %}

{% block prescripts %}
    <script type="text/javascript">
        App.urls = {
            user_update: "{{ path('users_update') }}",
            user_add: "{{ path('users_add') }}",
            user_delete: "{{ path('users_delete') }}",
            user_send_email: "{{ path('users_send_email') }}"
        };
    </script>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ app.request.basepath }}/js/back/users.js" type="text/javascript"></script>
{% endblock %}