{%
set colorsArray = {
    'node': 'Fond des noeuds (affiché dans le quiz et dans la navigation)',
    'nodeHover': 'Fond des noeuds au survol (uniquement dans le quiz)',
    'nodeSelected': 'Fond des noeuds sélectionnés (uniquement dans la navigation)',
    'action': 'Couleur des boutons',
    'actionSelected': 'Couleur des boutons sélectionnés'
}
%}
<div class="modal fade" id="iframe-export-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="myModalLabel">
                    Intégrer le quiz {{ quiz.name }}
                </h2>
            </div>
            <div class="modal-body">
                <p>
                    Vous souhaitez intégrer le présent quizz dans votre propre site ? <a href="mailto:webmaster@innovons.be" style="text-decoration: underline;" title="Envoyer un e-mail">Contactez-nous</a> et, après examen de votre demande, nous vous fournirons un quizz personnalisé aux couleurs de votre site.
                </p>
            </div>
        </div>
    </div>
</div>