{% verbatim %}
<script id="cms_footer_modal_template" type="text/x-handlebars-template">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="#" id="footer_form" method="post">
{% endverbatim %}
                {% if cms.footer_id is defined and cms.footer_id %}
                    <input type="hidden" name="cms_footer_id" value="{{ cms.footer_id }}" />
                {% endif %}
{% verbatim %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="myModalLabel">Bas de page</h3>
                </div>
                <div class="modal-body">
                    <p class="form-group">
                        <label for="cms_footer_input">Contenu du bas de page</label>
                        <textarea name="cms_footer_input" id="cms_footer_input" class="form-control"></textarea>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-success">
                            Mettre à jour
                    </button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</script>
{% endverbatim %}