{% verbatim %}
<script id="tool_link_modal_template" type="text/x-handlebars-template">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{action_url}}" id="tool_link_form" method="post" data-action="{{#if link}}tool-link-update{{else}}tool-link-add{{/if}}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="myModalLabel">
                    {{#if link}}
                        Editer l'outil
                    {{else}}
                    Ajouter un outil
                    {{/if}}
                </h3>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="tool_link_id" value="{{#if link }}{{link.id}}{{/if}}" />
                    <p class="form-group">
                        <label for="tool_link_title">Titre du lien</label>
                        <input type="text" class="form-control" id="tool_link_title" name="tool_link_title" value="{{#if link}} {{link.title}} {{/if}}" />
                    </p>
                    <p class="form-group">
                        <label for="tool_link_desc">Description</label>
                        <input type="text" class="form-control" id="tool_link_desc" name="tool_link_desc" value="{{#if link}} {{link.description}} {{/if}}" />
                    </p>
                    <p class="form-group">
                        <label for="tool_link_url">URL</label>
                        <input type="_url .: App ls.use pdatetext" class="form-control" id="tool_link_url" name="tool_link_url" value="{{#if link}} {{link.url}} {{/if}}" />
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-success">
                    {{#if link}}
                        Mettre à jour
                    {{else}}
                    Ajouter l'outil
                    {{/if}}
                </button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</script>
{% endverbatim %}