<div class="modal fade" id="help-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">Ajouter une aide</h3>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <label for="help-title">Titre de l'aide</label>
                        <input type="text" class="form-control" id="help-title" value="">
                    </div>
                    <div class="form-group">
                        <label for="help_text">Texte</label>
                        <textarea name="help_text" id="help_text" class="form-control" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <h3>Lier des fichiers</h3>
                        <ul class="file-list">
                            <li>
                                <a href="#" target="_blank">
                                    <i class="glyphicon glyphicon-file"></i>
                                    Fiche synthétique
                                </a>
                                <a href="#" class="item-remove" data-help-id="#">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="glyphicon glyphicon-file"></i>
                                    Schéma
                                </a>
                                <a href="#" class="item-remove" data-help-id="#">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </li>
                        </ul>
                        <p class="file-add">
                            <a href="#" class="btn btn-primary">
                                <i class="glyphicon glyphicon-plus"></i>
                                Ajouter un fichier
                            </a>
                        </p>
                    </div>
                    <div class="form-group">
                        <h3>Contenu associé</h3>
                        <ul class="associated-list">
                            <li>
                                <div class="form-group">
                                    <label for="associated_desc">Description</label>
                                    <input type="text" class="form-control" id="associated_desc" name="associated_desc[]" value="exemple">
                                </div>
                                <div class="form-group">
                                    <label for="associated_link">Lien</label>
                                    <input type="text" class="form-control" id="associated_link" name="associated_link[]" value="http://www.google.com">
                                </div>
                                <div class="form-group">
                                    <label for="associated_help">Aide existante</label>
                                    <select class="form-control" id="associated_help" name="associated_help[]">
                                        <option value="">Aide 1</option>
                                        <option value="">Aide 2</option>
                                        <option value="">Aide 3</option>
                                        <option value="">Aide 4</option>
                                        <option value="">Aide 5</option>
                                    </select>
                                </div>
                                <p>
                                    <a href="#" class="item-remove" data-associated-id="#">
                                        <i class="glyphicon glyphicon-remove"></i>
                                        Supprimer
                                    </a>
                                </p>
                            </li>
                            <li>
                                <div class="form-group">
                                    <label for="associated_desc">Description</label>
                                    <input type="text" class="form-control" id="associated_desc" name="associated_desc[]" value="exemple">
                                </div>
                                <div class="form-group">
                                    <label for="associated_link">Lien</label>
                                    <input type="text" class="form-control" id="associated_link" name="associated_link[]" value="http://www.google.com">
                                </div>
                                <div class="form-group">
                                    <label for="associated_help">Aide existante</label>
                                    <select class="form-control" id="associated_help" name="associated_help[]">
                                        <option value="">Aide 1</option>
                                        <option value="">Aide 2</option>
                                        <option value="">Aide 3</option>
                                        <option value="">Aide 4</option>
                                        <option value="">Aide 5</option>
                                    </select>
                                </div>
                                <p>
                                    <a href="#" class="item-remove" data-associated-id="#">
                                        <i class="glyphicon glyphicon-remove"></i>
                                        Supprimer
                                    </a>
                                </p>
                            </li>
                        </ul>
                        <p class="associated-add">
                            <a href="#" class="btn btn-primary">
                                <i class="glyphicon glyphicon-plus"></i>
                                Ajouter du contenu associé
                            </a>
                        </p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-success">Enregistrer</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>