{%
set colorsArray = {
    'node': 'Fond des noeuds (affiché dans le quiz et dans la navigation)',
    'nodeHover': 'Fond des noeuds au survol (uniquement dans le quiz)',
    'nodeSelected': 'Fond des noeuds sélectionnés (uniquement dans la navigation)',
    'action': 'Couleur des boutons',
    'actionSelected': 'Couleur des boutons sélectionnés'
}
%}
<div class="modal fade" id="iframe-export-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="myModalLabel">
                    Intégrer le quiz {{ quiz.name }}
                </h2>
            </div>
            <div class="modal-body">
                <p>
                    Pour intégrer le quiz à votre site internet, il suffit de copier-coller le code ci-dessous et de
                    l'insérer dans une de vos pages.
                </p>
                <p>
                    Le seuil de largeur pour un affichage mobile est de 600px. Il faut prévoir une hauteur minimale
                    de 1500px pour éviter la barre de défilement verticale.
                </p>

                <h4>Choix des couleurs</h4>
                <form action="#" class="form-horizontal" id="iframe-colors-form">
                    {% for key, color in colorsArray %}
                    <div class="form-group">
                        <label for="color-{{ key }}" class="col-sm-2 control-label">{{ key }}</label>
                        <div class="col-sm-2">
                            <input class="color form-control" id="color-{{ key }}" name="{{ key }}" value="{% if colors is defined and attribute(colors, key) is defined %}{{ attribute(colors, key) }}{% endif %}">
                        </div>
                        <p class="help-block col-sm-8">
                            {{ color }}
                        </p>
                    </div>
                    {% endfor %}
                </form>

                <h4>Export</h4>
                <pre id="export-box" class="export-box">{#Handled in JS#}</pre>
                <p>
                    Copiez ce code et collez-le dans votre site web.
                </p>
            </div>
        </div>
    </div>
</div>