<div id="add_user">
    <form action="" method="post" class="form-horizontal" id="add_user_form">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <span id="msg"></span>
            <h3>
                {% if organization is defined %}
                    Add user for {{ organization.name }}
                {% else %}
                    Add admin
                {% endif %}
            </h3>
        </div>
        <div class="modal-body modal-form">
            <div class="modal-error"></div>
            <input type="hidden" name="add_partner" value="true"/>
            <div class="control-group">
                <label for="email" class="control-label">Email address</label>
                <div class="controls">
                    <input id="email" type="text" name="email" class="required"
                           {% if user is defined %}value="{{ user.email }}"{% endif %}/>
                    <span class="help-block"></span>
                </div>
            </div>
            {#<div class="control-group">#}
            {#<label for="password" class="control-label">Password</label>#}
            {#<div class="controls">#}
            {#<input id="password" type="text" name="password"#}
            {#{% if user is defined %}value="{{ user.password }}"{% endif %} />#}
            {#<span class="help-inline">#}
            {#<a href="#" title="" class="btn" id="password-generate">#}
            {#Generate#}
            {#</a>#}
            {#</span>#}
            {#</div>#}
            {#</div>#}
            {#<div class="control-group">#}
                {#<div class="controls">#}
                    {#<label for="send_email" class="checkbox">#}
                        {#<input type="checkbox" id="send_email" name="send_email">#}
                        {#Send an email to user#}
                    {#</label>#}
                {#</div>#}
            {#</div>#}
        </div>
        <div class="modal-footer">
            <button type="submit" id="add-user-submit" class="btn btn-primary">
                {% if user is defined %}
                    Edit user
                {% else %}
                    Add user
                {% endif %}
            </button>

            <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">
                Cancel
            </button>
        </div>
    </form>
</div>