<div class="modal fade" id="node-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">Ajouter un noeud</h3>
            </div>
            <div class="modal-body">
                <p class="form-group">
                    <label for="node_title">Titre</label>
                    <input name="node_title" id="node_title" class="form-control" rows="3">
                </p>
                <form action="#">
                    <p class="form-group">
                        <label for="node_shortname">Nom raccourci</label>
                        <input type="text" class="form-control" id="node_shortname" name="node_shortname">
                    </p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-success">Enregistrer</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>