<div class="modal fade" id="popup-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">Ajouter un popup d'explications</h3>
            </div>
            <div class="modal-body">
                <form action="#">
                    <p class="form-group">
                        <label for="popup_question">Question</label>
                        <input type="text" class="form-control" id="popup_question" name="popup_question">
                    </p>
                    <p class="form-group">
                        <label for="popup_text">Texte</label>
                        <textarea name="popup_text" id="popup_text" class="form-control" rows="3"></textarea>
                    </p>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-success">Enregistrer</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>