    {% verbatim %}
<script id="user_modal_template" type="text/x-handlebars-template">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">
                    {{#if user}}
                        {{#if isItMe}}
                            Editer mon profil
                        {{else}}
                            Editer un utilisateur
                        {{/if}}
                    {{else}}
                        Ajouter un utilisateur
                    {{/if}}
                </h3>
            </div>
            <form action="{{action_url}}" method="post" id="user_form" data-action="{{#if user}}user-edit{{else}}user-add{{/if}}" {{#if user}}data-user-id="{{user.id}}"{{/if}}>
            <div class="modal-body">
                <div class="row">
                    <p class="form-group col-sm-6">
                        <label for="name">Nom</label>
                        <input name="name" id="name" class="form-control" value="{{#if user}}{{user.name}}{{/if}}" required>
                    </p>
                    <p class="form-group col-sm-6">
                        <label for="firstname">Prénom</label>
                        <input type="text" class="form-control" id="firstname" name="firstname" value="{{#if user}}{{user.firstname}}{{/if}}" required>
                    </p>
                </div>
                <p class="form-group">
                    <label for="email">Adresse e-mail</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{#if user}}{{user.email}}{{/if}}" required>
                </p>
                <p class="form-group">
                    <label for="telephone">Numéro de téléphone</label>
                    <input type="text" class="form-control" id="telephone" name="telephone" value="{{#if user}}{{user.telephone}}{{/if}}" required>
                </p>
                {{#if isItMe}}{{else}}
                <div class="row">
                    <p class="form-group col-sm-6">
                        <label for="role">Rôle</label>
                        <select class="form-control" name="roles" id="role" required>
                            <option value="ROLE_USER" {{#if user}} {{#equal user.roles 'ROLE_USER'}}selected="selected"{{/equal}} {{/if}}>Editeur</option>
                            <option value="ROLE_ADMIN" {{#if user}} {{#equal user.roles 'ROLE_ADMIN'}}selected="selected"{{/equal}} {{/if}}>Administrateur</option>
                        </select>
                    </p>
                </div>
                {{/if}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                {{#if user}}
                    <input type="hidden" name="id" value="{{user.id}}">
                {{/if}}
                <button type="submit" class="btn btn-success">
                    {{#if user}}
                        Mettre à jour
                    {{else}}
                        Ajouter et envoyer un e-mail
                    {{/if}}
                </button>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</script>
{% endverbatim %}
