form {
	label {
		em {
			color: @brand-success;
			font-weight: bold;
			margin-left: 5px;
		}

		&.error {
			margin-top: 5px;
			font-style: italic;
			color: @state-danger-text;
			font-weight: normal;
			display: block;
		}
	}

	.cke_focus {
		border-color: @input-border-focus !important;
	}

	.cke_chrome {
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
	}

	.has-error div.cke_reset {
		border-color: @brand-danger !important;
	}
}

.form-control:focus {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}


span.loader {
	background: url(../images/ajax-loader.gif) no-repeat top left;
	display: block;
	width: 16px;
	height: 11px;
	margin: 5px 0;
}