div.branch {
	.nodes {
		.make-row();
		margin: 0;
		padding: 0;
		list-style: none;

		.node {
			position: relative;
			margin-bottom: @grid-gutter-width;
			//			display: table;
			overflow: hidden;
			height: @nodeHeight;
			width: 100%;
			display: table;
			-webkit-user-drag: element;
			-webkit-user-select: none;

			> a {
				background-color: @choiceColor;
				color: @textColor;
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				height: @nodeHeight;
//				width: 100%;
				padding: 10px;

			}

			&.active {
				> a {
					background-color: @activeColor;
					color: #fff;
				}
			}
		}

		&.node-quantity-2 {
			> li {
				.make-sm-column(6);
			}
		}

		&.node-quantity-3 {
			> li {
				.make-sm-column(4);
			}
		}

		&.node-quantity-4 {
			> li {
				.make-sm-column(3);
			}
		}

		&.node-quantity-5, &.node-quantity-6 {
			> li {
				.make-sm-column(2);
			}
		}
	}
}
.no-touch .node > a:hover {
	background-color: @activeColor !important;
	text-decoration: none;
	color: #fff !important;
}