{% extends 'common/layout.html.twig' %}

{% block templates %}
    {% verbatim %}
    <script id="selection-link-template" type="text/x-handlebars-template">
        <a href="#" data-toggle="tooltip" id="selection-popup-link"
           title="Ajoutez des aides à votre sélection pour les imprimer ou les envoyer par e-mail.">
            <i class="glyphicon glyphicon-info-sign"></i>
        </a>
        <a href="{{selectionUrl}}" id="selection-link" class="btn btn-success">
            <i class="glyphicon glyphicon-list"></i>
            Voir mes sélections ({{selectionCount}})
        </a>
    </script>
    {% endverbatim %}
{% endblock %}

{% block page_title %}
    Bienvenue sur le quiz {{quiz.name}}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ app.request.basepath }}/css/front.css" media="screen"/>
    {% include 'front/iframe.css.twig' %}
{% endblock %}


{% block page_header %}
    {% if is_iframe is defined and not is_iframe %}
        <div id="page_header">
            <div class="container">
                <div id="page_banner">
                    {#<span id="white_circle"></span>#}
		<!-- Suppression du bandeau innovons - CGU - 14/10/2015 -->
		<!--
                    <h1>
                        <a href="http://www.innovons.be/" title="Voir le site innovons.be">Innovons.be</a>
                    </h1>
                    <h2>{{ cms.baseline }}</h2>
		-->
                </div>
                {% if cms.display_tools is defined and cms.display_tools  %}
                <div id="tools">
                    <div id="tools_list" class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                                title="Autre outils d'information qui pourraient vous intéresser">
                            Autres outils d’information
                            <span class="caret pull-right"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="othertools">
                        {% for link in cms.links %}
                            <li role="presentation">
                                <a role="menuitem" target="_blank" tabindex="-1" title="{{ link.description }}" href="{{ link.url }}">{{ link.title }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}


{% block header %}

    <div id="header">
        <h1>{% block title %}{% endblock %}</h1>
        <h2>{% block subtitle %}{% endblock %}</h2>
        {% block menu %}
            <ul id="menu">
                <li id="see-selection-link">
                    {#Rendered in JS#}
                </li>
            </ul>
        {% endblock %}

    </div>
{% endblock %}
{% block content %}

{% endblock %}
{% block footer %}
{% endblock %}


{% block page_footer %}
    {% if is_iframe is defined and ((is_iframe and cms.display_footer ) or (not is_iframe)) %}
       <div class="container">
           <div id="page_footer">
               <div id="page_footer_content">
                   {#
                   <p>
                       Le présent quiz est une réalisation conjointe de l’Agence de Stimulation Technologique et du Service public de Wallonie (DGO6 - Département de la Compétitivité et de l'Innovation), dans le cadre du Small Business Act Wallon.
                   </p>
                   <p>
                       Toutes vos questions et suggestions d’ajouts ou d’amélioration sont les bienvenues : <a href="mailto:quiz@innovons.be">quiz@innovons.be</a>.
                   </p>
                   <p>
                       Vous souhaitez intégrer le présent quiz dans votre propre site Web ? Adressez votre demande à <a href="mailto:quiz@innovons.be">quiz@innovons.be</a> et, après examen de celle-ci, nous pourrions vous fournir le module à intégrer.
                   </p>
                   <p style="text-align: center;">
                       <br/>
                       <a href="http://ast.wallonie.be/"><img src="{{ app.request.basepath }}/images/logoAST.png" alt="AST"></a>
                       <a href="http://economiewallonie.be/content/small-business-act-en-wallonie"><img src="{{ app.request.basepath }}/images/logo_sba_cmyk.png" alt="Small Business Act Wallon"></a>
                       <a href="http://economiewallonie.be/"><img src="{{ app.request.basepath }}/images/coq_spw_ho.png" alt="DGO6"></a>
                   </p>
                   #}
                   {{ cms.footer_text|raw }}
               </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block modals %}
    {{ parent() }}

    {% if quiz is defined %}
        {% include "front/modal/iframe_export.html.twig" %}
    {% endif %}
{% endblock %}

{% block prescripts %}
    <script type="text/javascript">
        {% if quiz is defined %}
        App.quizId = "{{quiz.id}}";
        App.quizName = "{{quiz.name}}";
        App.quizSlug = "{{ quiz.slug }}";
        App.quizUrl = "{{ url('front_quiz', {quizSlug: quiz.slug}) }}";

        {% if colors is defined and colors.request is defined %}
        App.selectionUrl = "{{ url('front_selection', {quizSlug: quiz.slug, colors: colors.request}) }}";
        {% elseif is_iframe is defined %}
        App.selectionUrl = "{{ url('front_selection', {quizSlug: quiz.slug, is_iframe: is_iframe}) }}";
        {% else %}
        App.selectionUrl = "{{ url('front_selection', {quizSlug: quiz.slug}) }}";
        {% endif %}

        {% if preview is defined and preview == true %}
        App.previs = true;
        {% endif %}

        {% if showstats is defined %}
        App.showStats = true;
        App.getPiwikDataUrl = "{{ url('from_piwik', {qSlug: quiz.slug}) }}";
        App.statsStartDate = "{{ startdate }}";
        App.statsEndDate = "{{ enddate }}";
        {% endif %}
        {% endif %}
    </script>
{% endblock %}

{% block scripts %}
    {% if app.request.query.get('notracking') %}
    {% else %}
        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u= "{{ app.request.basepath }}/piwik/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', 1]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
                g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();

        </script>
       {# <noscript><p><img src="http://piwik-ast.paperpixel.net/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript> #}
        <noscript><p><img src="http://quiz.innovons.be/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->
    {% endif %}

    <script src="{{ app.request.basepath }}/js/libs/iframe-resizer/iframeSizer.contentWindow.min.js" type="text/javascript"></script>
    <script src="{{ app.request.basepath }}/js/libs/validate/jquery.validate.min.js" type="text/javascript"></script>
    <script src="{{ app.request.basepath }}/js/libs/validate/additional-methods.min.js" type="text/javascript"></script>
    <script src="{{ app.request.basepath }}/js/libs/jquery.Transfer.js" type="text/javascript"></script>
    <script src="{{ app.request.basepath }}/js/libs/jstorage.min.js" type="text/javascript"></script>
    <script src="{{ app.request.basepath }}/js/libs/jscolor/jscolor.js" type="text/javascript"></script>
    <script src="{{ app.request.basepath }}/js/front/all.js" type="text/javascript"></script>
    <script src="{{ app.request.basepath }}/js/front/iframeExport.js" type="text/javascript"></script>
    <script src="{{ app.request.basepath }}/js/front/mySelection.js" type="text/javascript"></script>
    <script src="{{ app.request.basepath }}/js/front/stats.js" type="text/javascript"></script>
{% endblock %}
