{% if colors is defined %}
<style type="text/css">
    /* node background */
    {% if colors.node is defined %}
    .container ul#breadcrumb li.branch ul.choices li a {
        background-color: #{{ colors.node }};
    }
    .container div.branch .nodes .node > a{
        background-color: #{{ colors.node }};
    }
    {% endif %}

    /* selected node background */
    {% if colors.nodeSelected is defined %}
    body ul#breadcrumb li.branch ul.choices li.active a {
        background-color: #{{ colors.nodeSelected }};
    }
    {% endif %}

    /* hovered node background */
    {% if colors.nodeHover is defined %}
    .no-touch .container .node > a:hover {
        background-color: #{{ colors.nodeHover }} !important;
    }
    {% endif %}

    /* action background */
    {% if colors.action is defined %}
    .btn-success {
        background-color: #{{ colors.action }} !important;
        border: none !important;
    }
    {% endif %}

    /* selected action background */
    {% if colors.actionSelected is defined %}
    .btn-danger {
        background-color: #{{ colors.actionSelected }} !important;
        border: none !important;
    }
    {% endif %}
</style>
{% endif %}