{% extends 'front/_front.html.twig' %}
{% block header %}
{% endblock %}

{% block page_title %}
    Choisissez un quiz
{% endblock %}
{% block title %}
    Choisissez un quiz
{% endblock %}

{% block content %}
    <h2>Choisissez un quiz</h2>
    <ul>
        {% for quiz in quizzes %}
            <li>
                <a href="{{ url('front_quiz', {quizSlug: quiz.slug}) }}" title="Voir le quiz {{ quiz.name }}">
                    {{ quiz.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}