{% extends 'front/_front.html.twig' %}

{% block templates %}
    {{ parent() }}
    {% verbatim %}
    <script id="breadcrumb-item-template" type="text/x-handlebars-template">
        {{#if nodes.length}}
        <li class="home">
            <a href="{{App.basePath}}" title="Retour au début" data-action="go-home">
                <i class="glyphicon glyphicon-home"></i>
                <span class="sr-only">Accueil</span>
            </a>
            <i class="chevron"></i>
        </li>
        {{/if}}
        {{#each nodes}}
        <li class="branch">
            <h2>
                {{trim name=node.question.name shortname=node.question.shortname maxChar=15}}
            </h2>
            <ul class="choices">
                {{#each node.choices}}
                <li class="{{#equal id ../nodeActiveId}}active{{/equal}}">
                    <a href="?n={{id}}" data-node-id="{{id}}">
                        {{trim name=name shortname=shortname}}
                    </a>
                </li>
                {{/each}}
            </ul>
            <i class="chevron"></i>
        </li>
        {{/each}}
    </script>

    <script id="questions-template" type="text/x-handlebars-template">
        <div class="branch" id="branch-{{node.id}}">
            <h2>{{ node.question.name }}</h2>
            <ul class="nodes node-quantity-{{getColumns nodeQty=node.choices.length}}">
                {{#each node.choices}}
                <li class="node" id="node-{{id}}">
                    <a href="?n={{id}}" data-node-id="{{id}}" data-action="navigate">
                        {{{name}}}

                        {% endverbatim %}
                        {% if showstats is defined %}
                        {% verbatim %}
                        <ul class="node-stats">
                            {{#getStatsFromNode id}}
                            <li class="node-stats-click">
                                {{clicks}} clics
                            </li>
                            <li class="node-stats-level-percent">
                                Niveau: {{level}}%
                            </li>
                            <li class="node-stats-global-percent">
                                Global: {{global}}%
                            </li>
                            {{/getStatsFromNode}}
                        </ul>
                        {% endverbatim %}
                        {% endif %}
                        {% verbatim %}
                    </a>
                </li>
                {{/each}}
            </ul>
            {{#if node.popup.name}}
            <p class="branch-popup-question">
                <a href="#" data-toggle="modal" data-target="#popup-modal-{{node.id}}">
                    <i class="glyphicon glyphicon-info-sign"></i>
                    {{{node.popup.name}}}
                </a>
            </p>
            <div class="modal fade" id="popup-modal-{{node.id}}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title" id="myModalLabel">{{{node.popup.name}}}</h3>
                        </div>
                        <div class="modal-body">
                            {{{node.popup.text}}}
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
            {{/if}}
        </div>
    </script>

    <script id="helps-template" type="text/x-handlebars-template">
        {{#each helps}}
        <li class="help">
            <h2>{{ name }}</h2>
            <div class="help-text">
                {{{ text }}}
            </div>
            <ul class="help-meta">
                {{#each urls}}
                <li class="help-more">
                    <a href="{{{urllocal text}}}" {{#isNotUrllocal text}}target="_blank"{{/isNotUrllocal}}>
                        <i class="glyphicon glyphicon-plus-sign"></i>
                        {{name}}
                    </a>
                </li>
                {{/each}}
                {{#each files}}
                <li class="help-download">
                    <a href="{{{path}}}" target="_blank">
                        <i class="glyphicon glyphicon-download"></i>
                        {{name}}
                    </a>
                </li>
                {{/each}}
                <li class="help-selection">
                {{#ifHelpInSelection meta_id}}
                    {{partial "selectionRemove"}}
                {{else}}
                    {{partial "selectionAdd"}}
                {{/ifHelpInSelection}}
                </li>
            </ul>
        </li>
        {{/each}}
    </script>

    <script id="add-to-selection-template" type="text/x-handlebars-template">
        <a href="#" class="btn btn-danger" data-node-meta-id="{{meta_id}}" data-node-id="{{id}}" data-action="add-to-selection">
            <i class="glyphicon glyphicon-list"></i>
            Ajouter à ma sélection
        </a>
    </script>

    <script id="remove-selection-template" type="text/x-handlebars-template">
        <a href="#" class="btn btn-success" data-node-meta-id="{{meta_id}}" data-node-id="{{id}}" data-action="remove-from-selection">
            <i class="glyphicon glyphicon-remove"></i>
            Enlever de ma sélection
        </a>
    </script>

    <script id="related-template" type="text/x-handlebars-template">
        {{#if related.length}}
        <div id="related">
            <h3>Vous pourriez également être intéressés par :</h3>
            <ul>
                {{#each related}}
                <li>
                    <i class="glyphicon glyphicon-link"></i>
                    <a href="{{{urllocal text}}}" {{#isNotUrllocal text}}target="_blank"{{/isNotUrllocal}}>
                        {{name}}
                    </a>
                </li>
                {{/each}}
            </ul>
        </div>
        {{/if}}
    </script>
    {% endverbatim %}
{% endblock %}

{% block title %}
    {{ quiz.name }}
{% endblock %}
{% block subtitle %}
    {{ quiz.description }}
{% endblock %}

{% block content %}
    <p id="loading-message">
        <span class="sr-only">Chargement...</span>
    </p>
    <div id="quiz">
        <ul id="breadcrumb">
            {#handled in JS#}
        </ul>
        <div id="questions">
            {#Handled in JS#}
        </div>
        <div id="help-block">
            <ul id="help-list">
                {#Handled in JS#}
            </ul>
            <div id="related-block">
                {#Handled in JS#}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ app.request.basepath }}/js/libs/jquery.history.js" type="text/javascript"></script>
    <script src="{{ app.request.basepath }}/js/front/quiz.js" type="text/javascript"></script>
{% endblock %}
