{% extends 'front/_front.html.twig' %}


{% block page_title %}Mes aides sélectionnées{% endblock %}

{% block title %}
    {{ quiz.name }}
{% endblock %}
{% block subtitle %}
    {{ quiz.description }}
{% endblock %}

{% block templates %}
    {{ parent() }}
    {% verbatim %}
    <script id="help-template" type="text/x-handlebars-template">
    {{#if helps}}
        <p id="help-clear">
            <a href="#" data-action="selection-clear">
                Vider ma sélection
            </a>
        </p>
        <div id="help-block" class="selection-help-block">
            <ul id="help-list">
            {{#each helps}}
                <li class="help" data-help-id="{{id}}" data-help-meta-id="{{meta_id}}">
                    <h2>{{name}}</h2>
                    <div class="help-text">
                        {{{text}}}
                    </div>
                    <ul class="help-meta">
                        {{#each urls}}
                        <li class="help-more">
                            <i class="glyphicon glyphicon-plus-sign"></i>
                            {{{name}}}
                            <a href="{{text}}" title="Visiter le site" target="_blank">
                                <em>({{{text}}})</em>
                            </a>
                        </li>
                        {{/each}}
                        {{#each files}}
                        <li class="help-download">
                            <i class="glyphicon glyphicon-download"></i>
                            {{name}}
                            <a href="http://{{getDomain}}{{path}}" title="Télécharger le fichier PDF" target="_blank">
                            <em>(http://{{getDomain}}{{path}})</em>
                        </a>
                        </li>
                        {{/each}}
                    </ul>
                    <div class="help-actions">
                        <p class="help-remove">
                            <a href="#" title="Cliquez pour supprimer cette aide de votre sélection" data-action="help-remove" data-help-meta-id="{{meta_id}}">
                                <i class="glyphicon glyphicon-remove-circle"></i>
                                <span class="sr-only">Supprimer</span>
                            </a>
                        </p>
                    </div>
                    <p class="help-handle">
                        <a href="#" title="Glissez pour déplacer cette aide" class="handle-icon" data-help-meta-id="{{meta_id}}">
                            <span class="sr-only">Glisser</span>
                            <span class="handle-icon-bar"></span>
                            <span class="handle-icon-bar"></span>
                            <span class="handle-icon-bar"></span>
                        </a>
                    </p>
                </li>
            {{/each}}
            </ul>
        </div>
    {{else}}
        <p>
            Votre sélection est vide.
        </p>
    {{/if}}
    </script>
    <script id="help-input-template" type="text/x-handlebars-template">
        {{#each helps}}
        <input type='hidden' name='node_ids[]' value='{{id}}'>
        {{/each}}
    </script>
    {% endverbatim %}
{% endblock %}

{% block menu %}
    <ul id="left_menu">
        <li>
            <a href="{{ returnUrl }}" class="btn btn-success" title="Retourner au quiz">
                <i class="glyphicon glyphicon-circle-arrow-left"></i>
                Retour au quiz
            </a>
        </li>
    </ul>
    <ul id="right_menu" class="hidden">
        <li>
            <form action="{{ url('selection_export_PDF', {quizSlug: quiz.slug}) }}" method="post" id="export-pdf-form">
                <div id="help-inputs-container"></div>
                <button data-action="export-pdf" disabled class="btn btn-success" title="Télécharger les aides au format PDF">
                    <i class="glyphicon glyphicon-download"></i>
                    Télécharger en PDF
                </button>
            </form>
        </li>
        <li>
            <button data-action="send-mail" disabled data-toggle='modal' data-target='#send-mail-modal' class="btn btn-danger" title="Envoyer les aides par e-mail">
                <i class="glyphicon glyphicon-envelope"></i>
                Envoyer par e-mail
            </button>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <p id="loading-message">
        <span class="sr-only">Chargement...</span>
    </p>
    <div id="selection-container">
        {# Handled in JS #}
    </div>
{% endblock %}


{% block modals %}
    {{ parent() }}
    <div class="modal fade" id="send-mail-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="myModalLabel">
                        Envoyer mes aides par e-mail
                    </h3>
                </div>
                <form action="{{ url('selection_send_mail', {quizSlug: quiz.slug}) }}" method="post" id="send_mail_form" target="_blank">
                    <div class="modal-body">
                        <p class="form-group">
                            <label for="email">Adresse e-mail</label>
                            <input type="email" class="form-control" id="email" name="email" required placeholder="Entrez une adresse e-mail valide" required>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">
                            Envoyer l'e-mail
                        </button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
{% endblock %}


{% block prescripts %}
    {{ parent() }}
    <script type="text/javascript">
        App.selectionSendMailUrl = '{{ url('selection_send_mail', {quizSlug: quiz.slug}) }}';
    </script>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ app.request.basepath }}/js/libs/jquery.sortable.min.js" type="text/javascript"></script>
    <script src="{{ app.request.basepath }}/js/front/selection.js" type="text/javascript"></script>
{% endblock %}