<!doctype html>
<html lang="fr-BE">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
    <div id="help-list">
        {% for help in helps %}
        <div class="help">
            <h2>{{help.name}}</h2>
            <div class="help-text">
                {{help.text|raw}}
            </div>
            <ul class="help-meta">
                {% if help.urls is defined %}
                    {% for url in help.urls %}
                    <li class="help-more">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                        {{url.name}}
                        <a href="{{url.text}}" title="Visiter le site" target="_blank">
                            <em>({{url.text}})</em>
                        </a>
                    </li>
                    {% endfor %}
                {% endif %}
                {% if help.files is defined %}
                    {% for file in help.files %}
                    <li class="help-download">
                        <i class="glyphicon glyphicon-download"></i>
                        {{file.name}}
                        <a href="http://{{ app.request.host }}{{file.path}}" title="Télécharger le fichier PDF" target="_blank">
                            <em>(http://{{ app.request.host }}{{file.path}})</em>
                        </a>
                    </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        {% endfor %}
    </div>
</body>
</html>