@import url('libs/bootstrap/bootstrap.less');

@import url('variables.less');
@import url('mixins.less');
@import url('common/all.less');

@import url('back/main.less');
@import url('back/login.less');
@import url('back/index.less');
@import url('common/quiz.less');
@import url('back/quiz-form.less');
@import url('back/quiz-stats.less');
@import url('back/help-modal.less');
@import url('back/export.less');
@import url('back/tree-view-modal.less');
@import url('back/quiz-revisions.less');
@import url('back/stats.less');
@import url('back/cms.less');

// bootstrap overrides
@font-size-base: 12px;
@navbar-height: 40px;
@navbar-inverse-color: #ffffff !important;
@navbar-inverse-bg: #474747;
@body-bg: #f2f2f2;
@grid-gutter-width: 15px;
@input-border-focus: darken(@selectionColor, 15%);

@brand-success: @breadcrumbColor;
@brand-danger: #f16439;
@brand-primary: @selectionColor;

@state-danger-text: @brand-danger;
@state-danger-bg: #f1d9ce;
@state-danger-border:            darken(spin(@state-danger-bg, -10), 5%);

@state-success-text: @brand-success;
@state-success-bg: rgb(228, 250, 223);
@state-success-border:            darken(spin(@state-success-bg, -10), 5%);

.dropdown-menu > li > a {
	padding: 6px 20px !important;
}

/**
* Mixins
**/
.make-actions() {
	ul.node-actions {
		position: absolute;
		.list-unstyled;
		right: 1px + (@grid-gutter-width / 2);
		top: -1px;

		li {
			a {
				display: block;
				color: #fff;
				padding: 6px;
				background-color: @selectionColor;

				span {
					display: none;
				}

				&:hover {
					text-decoration: none;
					background-color: @selectionColorHover;
				}

				&.node-delete {
					.glyphicon;
					.glyphicon-remove;
				}

				&.node-edit {
					.glyphicon;
					.glyphicon-edit;
				}

				&.node-see {
					.glyphicon;
					.glyphicon-new-window;
				}

				&.node-duplicate {
					.glyphicon;
					.glyphicon-forward;
				}

				&.branch-add {
					.glyphicon;
					.glyphicon-plus;
				}
			}
		}
	}
}