@import url('libs/bootstrap/bootstrap.less');

@import url('variables.less');
@import url('mixins.less');
@import url('common/all.less');

@import url('front/main.less');
@import url('front/header.less');
@import url('front/breadcrumb.less');
@import url('common/quiz.less');
@import url('front/quiz.less');
@import url('front/help.less');
@import url('front/stats.less');
@import url('front/selection.less');
@import url('front/iframe_export.less');

@import url('front/cms.less');

// bootstrap overrides
@font-size-base: 12px;
@super: "to";
@brand-success: @selectionColor;
@brand-danger: #f16439;
@brand-primary: @linkColor;

@input-border-focus: darken(@selectionColor, 15%);

@screen-sm:                  568px;
@screen-sm-min:              @screen-sm;
@screen-tablet:              @screen-sm-min;

@container-tablet:             ((560px + @grid-gutter-width));
@container-sm:                 @container-tablet;

@modal-backdrop-bg: #fff;

.modal {
	overflow: hidden !important;
}

@grid-gutter-width: 5px;