.border-radius(@topLeft: 3px, @topRight: 3px, @bottomRight: 3px, @bottomLeft: 3px) {
	-webkit-border-top-left-radius: @topLeft;
	-webkit-border-top-right-radius: @topRight;
	-webkit-border-bottom-right-radius: @bottomRight;
	-webkit-border-bottom-left-radius: @bottomLeft;
	-moz-border-radius-topleft: @topLeft;
	-moz-border-radius-topright: @topRight;
	-moz-border-radius-bottomright: @bottomRight;
	-moz-border-radius-bottomleft: @bottomLeft;
	border-top-left-radius: @topLeft;
	border-top-right-radius: @topRight;
	border-bottom-right-radius: @bottomRight;
	border-bottom-left-radius: @bottomLeft;
}

.make-handle-icon(@handle-color: #000) {
	display: block;
	width: 15px;
	cursor: move;

	span {
		display: block;
		border: solid 1px @handle-color;
		margin-bottom: 2px;
	}

	&:hover {
		span {
			border-color: darken(@handle-color, 20%);
		}
	}
}