@choiceColor: #f3f3f6;
@activeColor: #7f7f80;
@activeColorHover: #d78b27;
@selectionColor: #89d1d2;
@selectionColorHover: #dce62b;
@linkColor: #7f7f80;
@linkColorHover: #5ba9cb;
@textColor: #3e3f43;
@secondaryTextColor: #969698;
@breadcrumbColor: rgb(106, 205, 137);

// front
@breadcrumbWidth: 100px;
@frontBorder: solid 1px #eee;
@verticalPadding: 10px;

// back
@backBorderColor: #c2c2c2;
@backBorder: solid 1px @backBorderColor;

// common
@nodeHeight: 180px;

// bootstrap overrides
.modal {
	.modal-content {
		border-radius: 0 !important;
	}
	.modal-header {
		border-bottom: none !important;
		padding-bottom: 0 !important;

		.modal-title {
			line-height: 1.2em;
			font-size: 18px;
		}
	}
}