{% extends 'front/_front.html.twig' %}

{% block header %}

{% endblock %}

{% block content %}
    <h1>La page demandée n'a pas été trouvée.</h1>
    <p>
        Nous sommes désolés, mais la page demandée n'a pas été trouvée.
    </p>
{% endblock %}