<!doctype html>
<html lang="fr-BE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]--> #}
    <title>{% block page_title %}{% endblock %}</title>
    {% block stylesheets %}

    {% endblock %}

    {% if app.debug %}
        <script type="text/javascript">
            less = {
                env: "development",
                logLevel: 0
            }
        </script>
        <script src="{{ app.request.basepath }}/js/libs/less-1.5.0.min.js" type="text/javascript"></script>
    {% else %}
       <script type="text/javascript">
           var console = {};
           console.log = function(){};
           window.console = console;
       </script>
    {% endif %}


    {% block templates %}

    {% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ app.request.basepath }}/js/libs/html5shiv.js"></script>
    <script src="{{ app.request.basepath }}/js/libs/respond.js"></script>
    <![endif]-->
</head>
<body class="nojs {% block bodyclasses %}{% endblock %}">
{% block body %}
{% block page_header %}

{% endblock %}
<div class="container">
    {% block header %}

    {% endblock %}
    {% block content %}

    {% endblock %}

    <footer>
        {% block footer %}

        {% endblock %}
    </footer>
</div>
{% endblock %}

{% block page_footer %}

{% endblock %}

{% block modals %}
{% endblock %}

<script type="text/javascript">
    var less = {env: "development"};
    var App = {
        basePath: '{{ app.request.scriptname }}',
        debug: '{{ app.debug }}',
        path: '{{ app.request.basepath }}',
        apiPath: '{{ app.request.scriptname }}/api/'
    }
</script>

{% block prescripts %}

{% endblock %}

<script src="{{ app.request.basepath }}/js/libs/jquery-1.11.0.min.js" type="text/javascript"></script>
{% if app.debug %}
    <script src="{{ app.request.basepath }}/js/libs/bootstrap/bootstrap.js" type="text/javascript"></script>
{% else %}
    <script src="{{ app.request.basepath }}/js/libs/bootstrap/bootstrap.min.js" type="text/javascript"></script>
{% endif %}
<script src="{{ app.request.basepath }}/js/libs/jquery.hoverIntent.min.js" type="text/javascript"></script>
<script src="{{ app.request.basepath }}/js/common/quizParser.js" type="text/javascript"></script>
<script src="{{ app.request.basepath }}/js/libs/handlebars-v1.1.2.js" type="text/javascript"></script>
<script src="{{ app.request.basepath }}/js/common/utils.js" type="text/javascript"></script>
<script src="{{ app.request.basepath }}/js/common/helpers.js" type="text/javascript"></script>
{% block scripts %}

{% endblock %}
<script type="text/javascript">
    quizParser.init(); // this is the starting point of all javasctipt initation ! It needs to be after the front/back scripts ( scripts block ) which supercharge the onQuizReady and onQuizNotReady method of quizParser
</script>
</body>
</html>